.theme-editor-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .theme-name-input {
        padding: 0 1rem;
    }

    .theme-colors-list {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        .theme-color-family-root {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 1rem 0 0.5rem;
            width: 100%;

            &:nth-child(odd) {
                background-color: var(--pxt-neutral-stencil1);
            }

            .expand-collapse-button {
                background: none;
                padding: 0.2rem 0.5rem;
                width: 2rem;
                height: 2rem;
                margin: 1rem 0 0 0; // 1 rem centers the button with respect to first row (height 4rem).

                i {
                    margin: 0;
                    padding: 0 0.8rem 0 0;
                }

                &:hover {
                    background-color: var(--pxt-neutral-alpha20);
                }
            }

            .color-setters {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;
                width: 100%;

                .theme-color-setter {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    height: 4rem;

                    .highlight-color-button {
                        padding: 0.3rem 0.2rem;
                        border: 1px solid var(--pxt-neutral-foreground1);
                        margin: 0 1rem 0 0.5rem;

                        i {
                            margin: 0;
                            padding: 0;
                        }

                        .highlighted {
                            border-width: 2px;
                            // Color set programmatically
                        }
                    }

                    .theme-color-input {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        label[class*="common-input-label"] {
                            width: 33%;
                        }

                        div[class*="common-input-group"] {
                            margin: 1rem;
                            flex-grow: 1;
                        }
                    }

                    .theme-color-button {
                        border: 1px solid var(--pxt-neutral-foreground1);
                        width: 2rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}
