:root {
  --black: #000;
  --white: #fff;

  --primary-color: #AA278F;
  --secondary-color: #EAC6EB;
  --tertiary-color: #850A6B;

  --hover-color: var(--secondary-color);
  --active-color: var(--tertiary-color);
  --inactive-color: var(--secondary-color);
  --inactive-hover-color: #6e6e6e;

  --invert-active-color: #fff;
  --invert-hover-text-color: #850A6B;

  --body-background-color: #F9F9F9;
  --default-card-color: #CCC;
  --card-hover-color: #BFBFBF;
  --card-border-color: #e9eef2;
  --dropdown-hover-color: #CCC;
  --inverted-text-color: var(--white);
  --subtitle-text-color: #6e6e6e;

  --header-height: 4rem;
  --header-padding-top: 1rem;

  --body-font-family: "Share Tech Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  --feature-text-font: Segoe UI,Tahoma,Geneva,Verdana;

  --frame-loader-zindex: 30;
  --above-frame-zindex: 50;
  --modal-dimmer-zindex: 100;

  --fullscreen-modal-zindex: 90;

  --graph-backround-zindex: 10;
  --above-graph-zindex: 20;

  --high-contrast-text: var(--white);
  --high-contrast-background: var(--black);
  --high-contrast-highlight: #ffff00;
  --high-contrast-focus-outline: 2px solid var(--high-contrast-highlight);
  --high-contrast-hyperlink: #807FFF;
}

@import "./arcade.css";

body {
  position: relative;
  margin: 0;
  font-family: var(--body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}

#root > div {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}
