body {
    --primary-color: #E77038;
    --secondary-color: #ffeb9a;
    --tertiary-color: #E77038;

    --hover-color: var(--secondary-color);
    --active-color: var(--tertiary-color);
    --inactive-color: #BFBFBF;

    --invert-active-color: #fff;
    --invert-hover-text-color: #E77038;

    --body-background-color: #FFFFFF;
    --card-hover-color: var(--default-card-color);

}
