templater.sh
web/_temp
webapp/public/blockly/blockly_uncompressed.js
webapp/public/blockly/core
webapp/public/closure-library
node_modules
*.sw?
built
/typings
kind_modules
pxt_modules
tmp/
*.ts.new
temp/
*.db
pxtwapp/pxtwapp/bin
pxtwapp/pxtwapp/bld
*.suo
*.user
*.log
update-settings.sh
