templater.sh
web/_temp
webapp/public/blockly/blockly_uncompressed.js
webapp/public/blockly/core
webapp/public/closure-library
node_modules
*.sw?
built
temp
packaged
gh-pages
/typings
kind_modules
pxt_modules
tmp/
*.ts.new
temp/
*.db
*.log
update-settings.sh
.DS_Store
paper.out
paper.dvi
paper.fls
paper.fdb_latexmk
paper.aux
tests/**/*.local.*
