templater.sh
web/_temp
webapp/public/blockly
webapp/public/closure-library
webapp/public/skillmap.html
webapp/public/authcode.html
webapp/public/multiplayer.html
webapp/public/kiosk.html
localtypings/blockly.d.ts
node_modules
*.sw?
built
temp
packaged
gh-pages
/typings
kind_modules
pxt_modules
tmp/
*.ts.new
temp/
*.db
*.log
update-settings.sh
.DS_Store
paper.out
paper.dvi
paper.fls
paper.fdb_latexmk
paper.aux
tests/**/*.local.*
/package-lock.json
tests/ui-test/node_modules
tests/ui-test/.vs
tests/ui-test/package-lock.json
tests/ui-test/debug.log
tests/ui-test/chromedriver.exe
tests/ui-test/screenshot/**
report.*.json
*.tsbuildinfo
