/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'pxt';
@reset      : 'default';

/* Elements */
@button     : 'pxt';
@container  : 'pxt';
@divider    : 'pxt';
@flag       : 'pxt';
@header     : 'pxt';
@icon       : 'default';
@image      : 'pxt';
@input      : 'pxt';
@label      : 'pxt';
@list       : 'pxt';
@loader     : 'pxt';
@rail       : 'pxt';
@reveal     : 'pxt';
@segment    : 'pxt';
@step       : 'pxt';

/* Collections */
@breadcrumb : 'pxt';
@form       : 'pxt';
@grid       : 'pxt';
@menu       : 'pxt';
@message    : 'pxt';
@table      : 'pxt';

/* Modules */
@accordion  : 'pxt';
@checkbox   : 'pxt';
@dimmer     : 'pxt';
@dropdown   : 'pxt';
@embed      : 'pxt';
@modal      : 'pxt';
@nag        : 'pxt';
@popup      : 'pxt';
@progress   : 'pxt';
@rating     : 'pxt';
@search     : 'pxt';
@shape      : 'pxt';
@sidebar    : 'pxt';
@sticky     : 'pxt';
@tab        : 'pxt';
@transition : 'default';

/* Views */
@ad         : 'pxt';
@card       : 'pxt';
@comment    : 'pxt';
@feed       : 'pxt';
@item       : 'pxt';
@statistic  : 'pxt';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

@fontPath  : 'fonts';

/* End Config */
