//$primary-color: #3279ff;
$page-background: #ffffff22;
$primary-background: #22c55e;
$primary-text: white;
$secondary-background: #0ea5e9;
$secondary-text: white;
$destructive-background: #f43f5e;
$destructive-text: white;
$page-text: white;
$username-text: #99f6e4;
