#sample-select {
    margin-right: 0.5rem;
}

#monaco-editor {
    height: 100%;
    width: 55%;
    max-width: 660px;
}

#sample-container {
    width: 20rem;
}

#run-container {
    margin-left: min(calc(55% - 20rem), calc(660px - 20rem));
}

/* Semantic UI overrides */
.action .primary.button {
    border-radius: .28571429rem;
}

.menu .primary.button {
    border-radius: 0;
    font-weight: 400;
    margin: 0;
}