@use "sass:color";

.modal {
    div[class~="common-modal"] {
        background-color: white;
        border-radius: 1.5rem;
        margin: 0;
        width: auto;
        min-width: 28rem;

        div[class~="common-modal-header"] {
            margin: 0;
            padding: 0;
            border: none;
            padding: 0.75rem 0;
            background-color: #f4f0ec;

            div[class~="common-modal-title"] {
                margin: 0;
                padding: 0;
            }
        }

        div[class~="common-modal-body"] {
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}

.header {
    display: flex;
    justify-content: row;
    gap: 0.25rem;
    align-items: center;
    color: var(--color-white);
    font-size: 24px;
    font-weight: bold;
    padding: 0 1.5rem;

    .tab {
        border-radius: 1rem;
        font-weight: bold;
        font-size: large;
        text-transform: uppercase;
        background-color: #f4f0ec;

        &.active {
            background-color: color.adjust(#f4f0ec, $lightness: -10%);
            color: #0c5cb4;
            font-weight: bold;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;

    .host-input {
        width: 100%;
        border-radius: 1rem;
        border: 1px solid #1779c5;
    }

    .join-input {
        border-radius: 1rem;
        border: 1px solid #1779c5;

        input[class~="common-input"] {
            text-align: center;
            text-transform: uppercase;
            font-family: "Share Tech Mono", monospace;
            font-weight: bold;
            font-size: x-large;
            width: 10rem;

            &::placeholder {
                text-transform: none;
            }
        }
    }

    .button {
        width: 12rem;
        background-color: #1779c5;
        color: white;
        border-radius: 1rem;
        font-weight: bold;
        font-size: large;
    }

    .link {
        color: #1779c5;
        text-decoration: underline;
        cursor: pointer;
    }
}
