@import "../../variables";

.horz {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.stretch {
    flex: 1;
}

.items-right {
    justify-content: flex-end;
}

.button {
    font-weight: bold;
    border-radius: 1rem;
    padding: 0 1.5rem;
    height: 2rem;
    color: $secondary-text;
    background-color: $secondary-background;

    &.primary {
        color: $primary-text;
        background-color: $primary-background;
    }

    &.destructive {
        color: $destructive-text;
        background-color: $destructive-background;
    }

    &.taller {
        height: 2.5rem;
    }

    &.iconic {
        padding: 0 2px;

        i {
            margin: 0;
        }
    }
}