.music-staff-row {
    stroke-width: 3;
    stroke: var(--pxt-color54);
}

.music-staff-column {
    stroke-width: 1;
    stroke: var(--pxt-color55);
}

.music-staff-column.measure-start.beat-start {
    stroke: var(--pxt-color56);
    stroke-width: 3;
    stroke-dasharray: 0;
}

.music-staff-column.beat-start {
    stroke-dasharray: 2;
    stroke-width: 2;
}

.music-staff-background {
    fill: var(--pxt-color57);
}

.music-staff text {
    user-select: none;
}

.music-playback-line {
    stroke-width: 3;
    stroke: var(--pxt-color57);
}

.music-playback-head {
    transition: translate 0.06ms linear;
}
