html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


.ui.item.logo {
    font-size: 2.8rem;
    margin: 0;
    padding: 0 0.3rem;
}
.ui.item.logo .name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, inherit;
    color: #666666;
    padding: 0 0.3rem;
}
.ui.item.logo svg {
    width: 1.2rem;
    height: 1.2rem;
}

.ui.item.logo img {
    height: 2.5rem;
}

.organization {
    position:absolute;
    top:1rem;
    right:1rem;
    height:2rem;
    z-index:102;
}
.rtl .organization {
    right:auto;
    left:1rem;
}

.rtl #fileNameInput {
    text-align: right;
}

div.simframe {
    border:none;
    margin:0 0 0.5rem 0;
    position: relative;
    background:transparent;
    width:100%;
    padding-bottom: 81.96%;
}

div.simframe > iframe {
    position:absolute;
    top:0; left: 0; width:100%; height:100%;
}

#helpcard {
    position: absolute;
    right: 7rem;
    bottom: 2.2rem;
    margin: 0;
    z-index: 5;
}
.rtl #helpcard {
    left:7rem;
    right:auto;
}

#settings .popup {
    width: 25rem;
}

.full-abs {
    position: absolute !important;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#root.inverted {
    background: #1B1C1D;
}

#msg {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    text-align: center;
}

#msg > div {
    display: inline-block;
    z-index: 100;
}

#msg > div:empty {
   display: none;
}

.rtl .ui.menu .ui.dropdown .menu > .item,
.rtl .ui.modal {
    text-align: right;
}

.ui.dropdown,
.ui.buttons {
    margin-right: 0.25rem;
}


.searchdialog {
    margin-top: -15rem !important;
}

.searchdialog .cards {
    max-height: 23rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:0.5rem;
}

.ui.card > .content > a.header {
    word-break: break-all;
}

.ui.top.attached.label .link.icon {
    position: absolute;
    top: 9px;
    right: 8px;
}

#content .ui.button > .icon-and-text {
    margin-right: 4px;
    margin-left: -2px;
}

.rtl #content .ui.button > .icon-and-text {
    margin-left: 4px;
    margin-right: -2px;
}

.rtl .ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown) {
    margin: 0.0em 0.0em 0.0em 0.75em
}

.modal img.ui.logo {
    max-width: 10em;
    max-height: 3em;
    vertical-align: middle;
}

.ui.logs {
    font-family: monospace;
    font-size:0.8em;
    max-height: 13em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 1em;
    cursor:pointer;
}

.ui.log {
    clear:both;
    border-left-width: 2px;
    border-left-style: solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ui.log {
    border-left-color:#ccc;
}
.ui.log.blue {
    border-left-color:#0AaCbE;
}
.ui.log.yellow {
    border-left-color:#cFb41A;
}
.ui.log.green {
    border-left-color:#AACF83;
}
.ui.log.red {
    border-left-color:#FF3A54;
}
.ui.log.black {
    border-left-color:#202020;
}

.ui.log.gauge, .ui.log.counter {
    color:white;
    border-radius: 4px;
    margin-left:0.1em;
    margin-right:0.2em;
    padding-left:0.25em;
    padding-right:0.25em;
}

.ui.log.counter {
    background:grey;
}

.ui.log.gauge.blue {
    background:#0AaCbE;
}
.ui.log.gauge.yellow {
    background:#cFb41A;
}
.ui.log.gauge.green {
    background:#AACF83;
}
.ui.log.gauge.red {
    background:#FF3A54;
}
.ui.log.gauge.black {
    background:#000;
}

svg.ui.trend {
    width: 8em;
    height: 1.5em;
    margin-top: 0.1em;
    float: right;
    vertical-align: middle;
    cursor:pointer;
}

svg.ui.trend polyline {
    stroke: #000;
    stroke-width: 1px;
    stroke-linejoin: round;
    fill:none;
}

svg.ui.trend.blue polyline {
    stroke:#0AaCbE;
}
svg.ui.trend.yellow polyline {
    stroke:#cFb41A;
}
svg.ui.trend.green polyline {
    stroke:#AACF83;
}
svg.ui.trend.red polyline {
    stroke:#FF3A54;
}
svg.ui.trend.black polyline {
    stroke:#000;
}

.sandboxfooter {
    position:absolute;
    bottom:1rem;
    left:1rem;
    z-index:5;
}

.grayscale {
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.blur {
    -moz-filter: blur(1);
    -webkit-filter: blur(1);
    filter: blur(1);
}

.highlight {
    border-bottom: 2px solid #FFC107;
}

.ui.hideempty:empty {
    display:none !important;
}

#root .debuggerview h4 {
    margin: 0.9em 0 0 0;
}

html {
    font-size:16px;
}

.top-margin {
    margin-top:0.5em !important;
}

.ui.widedesktop.only {
    display:none !important;
}

.flash {
    animation: flash-animation 0.4s alternate infinite;
}

@keyframes flash-animation {
    from { opacity: 1; }
    to   { opacity: 0.4; }
}

.cloudflash {
    animation: cloud-flash-animation 0.8s alternate infinite;
}

@keyframes cloud-flash-animation {
    from { opacity: 1; }
    to   { opacity: 0.8; }
}

/* extra-large desktop screen */
@media only screen and (min-width: 92em) and (min-height:30em) {
    .ui.widedesktop.only {
        display:block !important;
    }
    .ui.widedesktop.hide {
        display:none !important;
    }
}

@media only screen and (min-width: 55em) and (min-height:30em) {
    .blocklyTreeRow {
        padding-top: 0.75rem !important;
        padding-bottom: 2rem !important;
        border-left-width: 12px !important;
    }
    .blocklyTreeRoot div div div div .blocklyTreeRow {
        border-left-width: 18px !important;
        padding-top: 0px !important;
        padding-bottom: 1.6rem !important;
    }
}

@media only screen and (max-width: 64em), only screen and (max-aspect-ratio: 14/10) {
    .organization {
        right:auto;
        top:auto;
        left:1.5rem;
        bottom:0.5rem;
    }
    .rtl .organization {
        left:1.5rem;
        right:auto;
    }
    #cookiemsg {
        bottom:2.5rem;
    }
}

/* smaller desktop screen */
@media only screen and (max-width: 60em), only screen and (max-aspect-ratio: 12/10) {
    #logo .name {
        display: none !important;
    }
    .ui.desktop.only {
        display:none !important;
    }
    #helpcard {
        top: auto;
        bottom: 2.2rem;
        margin: 0;
    }
}

/* thin desktop portrait mode */
@media only screen and (max-width: 55em), only screen and (max-aspect-ratio: 7/10) {
    #helpcard {
        top: auto;
        bottom: 2rem;
        margin: 0;
    }
    .organization {
        top:auto;
        left:0.5rem;
        right: auto;
        bottom: 0.5rem;
        height: 1.3rem;
    }
    .rtl .organization {
        left:0.5rem;
        right: auto;
    }
    .ui.landscape.only {
        display:none !important;
    }
    .hideEditorFloats .editorFloat {
        display:none;
    }
    div.simframe {
        display:inline-block;
        width: 18rem;
        margin-right:0.5rem;
    }
    div.simframe:not(:first-child) {
        display:none !important;
    }
}

@media only screen and (min-width: 55em) {
    .ui.portrait.only {
        display:none !important;
    }
}

@media only screen and (max-height:45em) {
    .ui.tall.only {
        display:none !important;
    }
}

/* thin display, mobile */
@media only screen and (min-width:36em) {
    .ui.thin.only {
        display:none !important;
    }
}

@media only screen and (max-width:36em) {
    .ui.wide.only {
        display:none !important;
    }
}

@media only screen and (max-width:50em) {
    #logo {
        font-size: 0rem;
        padding-right: 0;
    }
    div.simframe {
        display:inline-block;
        width: 10rem;
        margin-right:0.5rem;
    }
    div.simframe:not(:first-child) {
        display:none !important;
    }
    div.simframe iframe.grayscale {
        display:none !important;
    }
}

.ui.fluid.button.half{
    width:50% !important;
}
.ui.fluid.button.sixty{
    width:60% !important;
}



/*******************************
    Blockly
    Add Blockly CSS here that you don't want overriden in themes
*******************************/

#blocksEditor {
    position: absolute;
}

#blocksEditor > div.loading {
    background:#fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;
}

.blocklyMainBackground {
    stroke:none !important;
}

.rtl .blocklyText {
    text-align:right;
}

/* This prevents the arrow icon from showing for categories that have subcategories in the toolbox */
.blocklyTreeIcon {
    opacity: 0 !important;
}

/* This is to ensure the leds inside showLeds fill the entire checkbox */
.blocklyCheckbox {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 6px #f00;
    font-size: 17pt !important;
}

.blocklyPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 1em);
    max-height: calc(100% - 1em);
}

body.blocklyMinimalBody {
    min-width: initial;
}

@supports (-ms-accelerator:true) {
    .rtl .blocklyPreview {
        right:50%;
        left:auto;
    }
}



/*******************************
    Monaco Editor
    Add Monaco Editor CSS here that you don't want override in themes
*******************************/
#monacoEditor {
    direction:ltr;
}

/* Monaco Editor Errors */
.monaco-editor .error-view-zone {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    width: initial !important;
}
.monaco-editor.vs-dark .error-view-zone {
    color:white;
}
.monaco-editor .error-view-zone .marker-widget {
    border-radius: 2px !important;
    padding-left: 10px !important;
    padding-right: 20px !important;
}


/* Fix for monaco editor Signature bug in Safari */
.monaco-editor .parameter-hints-widget {
    flex-direction: row !important;
}