#filelist,
#maineditor {
  position: absolute;
  top:64px;
  bottom: 2em;
}
#logo {
    font-size: 2.8em;
    margin: 0;
    padding: 0 0.3em;
    /*font-weight: bold;
    padding: 0 0.5em 0 0.5em;
    color: #2185D0;
    */
}
#logo .name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, inherit;
    color: #666666;
    padding: 0 0.3em;
}
#logo svg {
    width: 1.2em;
    height: 1.2em;
}

#logo img, #rightlogo img {
    height: 1.2em;    
}

#footerlogo {
    vertical-align: middle;
    margin-right: 0.5em;    
}

#footerlogo img {
    height: 1.2em;    
}

#footer {
    position: absolute;
    bottom: 0;
    height: 2em;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05);
}
#footer div {
    font-size:0.8em;
    text-align: center;
    margin-top:0.4em;
}

.simframe {
    border: none;
    width: 285px;
    height: 230px;
    margin: 0;
    padding: 0;
    background:transparent;    
}

#filelist {
  left: 0;
  width: 300px;
  padding: 0em 1em 0em 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;  
}

#menubar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;    
}

#menubar .item > .button {
    margin-right: 0.25em;
}

#filelist .menu {
  width: 100%;
}

#filelist .nested.item {
    padding-left: 4em;
}

#filelist .header {
    background: rgba(0,0,0,0.05);
}

#maineditor {
  right: 0;
  left: 300px;
}

#helpcard {
    position: absolute;
    right: 2rem;
    bottom: 2.2rem;
    margin: 0;
    z-index: 5;
}

#settings .popup {
    width: 400px;
}

.full-abs {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#root.inverted {
    background: #1B1C1D;
}

#msg {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

#msg > div {
    display: inline-block;
    z-index: 100;
}

#msg > div:empty {
   display: none;
}

.ui.dropdown,
.ui.buttons {
    margin-right: 0.25rem;
}

.searchdialog {
    margin-top: -15em !important;
}

.searchdialog .list {
    height: 20em;
    overflow-y: scroll;
    overflow-x: hidden; 
}

.ui.top.attached.label .link.icon {
    position: absolute;
    top: 9px;
    right: 8px;
}

#content .ui.button > .icon-and-text {
    margin-right: 4px;
    margin-left: -2px;
}

/* blockly */
#blocksEditor > div.loading {
    background:#fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;    
}

.blocklyToolboxDiv {
    background: rgba(0, 0, 0, 0.05);
}

.blocklyMainBackground {
    stroke:none !important;
}

.blocklyTreeLabel, .blocklyText {
    font:12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;   
}

.blocklyText {    
    font-size:14px;
}

.blocklyTreeLabel {
    font-size:20px;
}

.blocklyLed {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 7px #f00;
}

.blocklyPreview {
 position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);    
 width: calc(100% - 1em);
 max-height: calc(100% - 1em);
}

/* ACE */

#aceEditor .ace_search .ace_search_field {
    height: 1.4em;
}

#aceEditor .ace_search .ace_searchbtn,
#aceEditor .ace_search .ace_replacebtn,
#aceEditor .ace_search .ace_button {
    height: 1.4em;
    min-width: 1.4em;
    width: auto;
}

#aceEditor .ace_search {
    max-width: 500px;
}

#content .completer {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    width: 30em;
    max-height: 30em;
    overflow-y: auto;
    margin-top: 0.4em;
    margin-left: -1.1em;
}

#content .completer .item {
    padding: 0.8em 0em 0.4em 1.14em;
}


#content .completer .item .name,
#content .completer .item .doc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
}

#content .completer .item .name {
    font-size: 1.2em;
    margin-bottom: 0em;
}

#content .completer .item .doc {
    font-size: 0.9em;
    opacity: 0.7;
}

#content .completer .item .name .funname {
    font-weight: bold;
}

#content .completer .item .name .args {
    opacity: 0.7;
}

.menu img.ui.logo:first-of-type {
    margin-right:0.5em;
}

.modal img.ui.logo {    
    max-width: 5em;
    max-height: 3em;
    vertical-align: middle;    
}

.ui.logs {
    font-family: monospace;
    font-size:0.8em;
    max-height: 13em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 1em;
}

.ui.log {
    border-left-width: 2px;
    border-left-style: solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ui.log {
    border-left-color:#ccc;
}
.ui.log.blue {
    border-left-color:#0AaCbE;
}
.ui.log.yellow {
    border-left-color:#cFb41A;
}
.ui.log.green {
    border-left-color:#AACF83;
}
.ui.log.red {
    border-left-color:#FF3A54;
}
.ui.log.black {
    border-left-color:#202020;
}
    
.ui.log.gauge, .ui.log.counter {
    color:white;
    border-radius: 4px;
    margin-left:0.1em;
    margin-right:0.2em;
    padding-left:0.25em;
    padding-right:0.25em;
}

.ui.log.counter {
    background:grey;    
}

.ui.log.gauge.blue {
    background:#0AaCbE;
}
.ui.log.gauge.yellow {
    background:#cFb41A;
}
.ui.log.gauge.green {
    background:#AACF83;
}
.ui.log.gauge.red {
    background:#FF3A54;
}
.ui.log.gauge.black {
    background:#000;
}

svg.ui.trend {
    width: 8em;
    height: 1.5em;
    margin-top: 0.1em;
    float: right;
    vertical-align: middle;
    cursor:pointer;
}

svg.ui.trend polyline {
    stroke: #000;
    stroke-width: 1px;
    stroke-linejoin: round;
    fill:none;
}

svg.ui.trend.blue polyline {
    stroke:#0AaCbE;
}
svg.ui.trend.yellow polyline {
    stroke:#cFb41A;
}
svg.ui.trend.green polyline {
    stroke:#AACF83;
}
svg.ui.trend.red polyline {
    stroke:#FF3A54;
}
svg.ui.trend.black polyline {
    stroke:#000;
}

.grayscale {    
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
    
.highlight {
    border-bottom: 2px solid #FFC107;     
}

.ui.hideempty:empty {
    display:none !important;
}

/* extra-large desktop screen */
@media only screen and (min-width: 1600px) and (min-height:700px) {
    #filelist {
        width:300px;
    }
    #maineditor {
        left:300px;
    }
}

/* smaller desktop screen */
@media only screen and (max-width: 968px) {
    #logo .name {
        display: none !important;
    }    
    .ui.desktop.only {
        display:none !important;
    }
    #helpcard {
        right: 2rem;
        top: initial;
        bottom: 2.2rem;
        margin: 0;
    }
}

/* thin desktop portrait mode */
@media only screen and (max-width: 796px), only screen and (max-aspect-ratio:5/5) {
    #helpcard {
        left: 2.1rem;
        top: initial;
        bottom: 220px;
        margin: 0;
    }
    #maineditor {
        left: 0;
    }
    .ui.landscape.only {
        display:none !important;
    }
    #filelist {
        position:absolute;
        z-index:5;
        bottom:2rem;
        left:1rem;
        top:initial;      
        width:initial;     
    }
    .simframe {
        display:inline-block;
        width: 240px;
        height:194px;
    }
    
    .blocklyTreeLabel {
        font-size:14px;
    }    
}

@media only screen and (min-width: 796px), only screen and (min-aspect-ratio:5/5) {
    .ui.portrait.only {
        display:none !important;    
    }
}

@media only screen and (max-height:680px) {
    .ui.tall.only {
        display:none !important;
    }
}