#filelist,
#maineditor {
  position: absolute;
  top: 74px;
  bottom: 0;
}

#filelist {
  left: 0;
  width: 400px;
  padding: 0em 1em 0em 0.5em;
}

#menubar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;    
}

#filelist .menu {
  width: 100%;
}

#filelist .nested.item {
    padding-left: 4em;
}

#filelist .header {
    background: rgba(0,0,0,0.05);
}

#maineditor {
  right: 0;
  left: 400px;
}

#settings .popup {
    width: 400px;
}

.full-abs {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#root.inverted {
    background: #1B1C1D;
}

#msg {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

#msg > div {
    display: inline-block;
    z-index: 100;
}

#msg > div:empty {
   display: none;
}

.ui.dropdown,
.ui.buttons {
    margin-right: 0.25rem;
}

/* blockly */

.blocklyToolboxDiv {
    background:#ebebeb;
}

.blocklyTreeLabel, .blocklyText {
    font:12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;   
}

.blocklyText {    
    font-size:14px;
}

.blocklyTreeLabel {
    font-size:20px;
}