html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

#filelist,
#maineditor {
  position: absolute;
  top:4.5rem;
  bottom: 0rem;
}
#logo {
    font-size: 2.8rem;
    margin: 0;
    padding: 0 0.3rem;
    /*font-weight: bold;
    padding: 0 0.5em 0 0.5em;
    color: #2185D0;
    */
}
#logo .name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, inherit;
    color: #666666;
    padding: 0 0.3rem;
}
#logo svg {
    width: 1.2rem;
    height: 1.2rem;
}

#logo img, #rightlogo img {
    height: 2.5rem;    
}

div.simframe {
    border:none;
    margin:0 0 0.5rem 0;
    position: relative;
    background:transparent;    
    width:100%;
    padding-bottom: 81.96%;
}

div.simframe > iframe {
    position:absolute;
    top:0; left: 0; width:100%; height:100%;
}

#filelist {
  left: 0;
  padding: 0em 1em 0em 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;  
  margin-bottom: 0;
}

#menubar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 4rem;    
}

#menubar .item > .button {
    margin-right: 0.25rem;
}

#filelist .menu {
  width: 100%;
}

#filelist .nested.item {
    padding-left: 4rem;
}

#filelist .header {
    background: rgba(0,0,0,0.05);
}

#maineditor {
  right: 0;
}

#helpcard {
    position: absolute;
    right: 2rem;
    bottom: 2.2rem;
    margin: 0;
    z-index: 5;
}

#settings .popup {
    width: 25rem;
}

.full-abs {
    position: absolute !important;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#root.inverted {
    background: #1B1C1D;
}

#msg {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
}

#msg > div {
    display: inline-block;
    z-index: 100;
}

#msg > div:empty {
   display: none;
}

.ui.dropdown,
.ui.buttons {
    margin-right: 0.25rem;
}


.searchdialog {
    margin-top: -15rem !important;
}

.searchdialog .cards {
    max-height: 23rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:0.5rem; 
}

.ui.top.attached.label .link.icon {
    position: absolute;
    top: 9px;
    right: 8px;
}

#content .ui.button > .icon-and-text {
    margin-right: 4px;
    margin-left: -2px;
}

/* blockly */
#blocksEditor > div.loading {
    background:#fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;    
}

.blocklyToolboxDiv {
    background: rgba(0, 0, 0, 0.05);
}

.blocklyMainBackground {
    stroke:none !important;
}

.blocklyTreeLabel, .blocklyText, .blocklyHtmlInput {
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;   
}

.blocklyText {    
    font-size:1rem !important;
}

.blocklyTreeLabel {
    font-size:1.25rem !important;
}

.blocklyCheckbox {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 6px #f00;
    font-size: 24px;
}

.blocklyPreview {
 position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);    
 width: calc(100% - 1em);
 max-height: calc(100% - 1em);
}

/* ACE */

#aceEditor .ace_search .ace_search_field {
    height: 1.4em;
}

#aceEditor .ace_search .ace_searchbtn,
#aceEditor .ace_search .ace_replacebtn,
#aceEditor .ace_search .ace_button {
    height: 1.4em;
    min-width: 1.4em;
    width: auto;
}

#aceEditor .ace_search {
    max-width: 30rem;
}

#content .completer {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    width: 30em;
    max-height: 30em;
    overflow-y: auto;
    margin-top: 0.4em;
    margin-left: -1.1em;
}

#content .completer .item {
    padding: 0.8em 0em 0.4em 1.14em;
}


#content .completer .item .name,
#content .completer .item .doc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
}

#content .completer .item .name {
    font-size: 1.2em;
    margin-bottom: 0em;
}

#content .completer .item .doc {
    font-size: 0.9em;
    opacity: 0.7;
}

#content .completer .item .name .funname {
    font-weight: bold;
}

#content .completer .item .name .args {
    opacity: 0.7;
}

.modal img.ui.logo {    
    max-width: 10em;
    max-height: 3em;
    vertical-align: middle;    
}

.ui.logs {
    font-family: monospace;
    font-size:0.8em;
    max-height: 13em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 1em;
    cursor:pointer;
}

.ui.log {
    border-left-width: 2px;
    border-left-style: solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ui.log {
    border-left-color:#ccc;
}
.ui.log.blue {
    border-left-color:#0AaCbE;
}
.ui.log.yellow {
    border-left-color:#cFb41A;
}
.ui.log.green {
    border-left-color:#AACF83;
}
.ui.log.red {
    border-left-color:#FF3A54;
}
.ui.log.black {
    border-left-color:#202020;
}
    
.ui.log.gauge, .ui.log.counter {
    color:white;
    border-radius: 4px;
    margin-left:0.1em;
    margin-right:0.2em;
    padding-left:0.25em;
    padding-right:0.25em;
}

.ui.log.counter {
    background:grey;    
}

.ui.log.gauge.blue {
    background:#0AaCbE;
}
.ui.log.gauge.yellow {
    background:#cFb41A;
}
.ui.log.gauge.green {
    background:#AACF83;
}
.ui.log.gauge.red {
    background:#FF3A54;
}
.ui.log.gauge.black {
    background:#000;
}

svg.ui.trend {
    width: 8em;
    height: 1.5em;
    margin-top: 0.1em;
    float: right;
    vertical-align: middle;
    cursor:pointer;
}

svg.ui.trend polyline {
    stroke: #000;
    stroke-width: 1px;
    stroke-linejoin: round;
    fill:none;
}

svg.ui.trend.blue polyline {
    stroke:#0AaCbE;
}
svg.ui.trend.yellow polyline {
    stroke:#cFb41A;
}
svg.ui.trend.green polyline {
    stroke:#AACF83;
}
svg.ui.trend.red polyline {
    stroke:#FF3A54;
}
svg.ui.trend.black polyline {
    stroke:#000;
}

.grayscale {    
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.blur {    
    -moz-filter: blur(1);
    -webkit-filter: blur(1);
    filter: blur(1);
}
  
.highlight {
    border-bottom: 2px solid #FFC107;     
}

.ui.hideempty:empty {
    display:none !important;
}

#root .debuggerview h4 {
    margin: 0.9em 0 0 0;
}

html {
    font-size:16px;
}

.top-margin {
    margin-top:0.5em !important;
}

/* ace */
.ace_gutter-layer {
    min-width: 2.8em !important;
}

/* default layout */
#filelist {
  left: 0;
  min-width: 23rem;
}

#maineditor {
  left: 23rem;
}


/* extra-large desktop screen */
@media only screen and (min-width: 100em) and (min-height:44em) {
    #filelist {
        width:26rem;
    }
    #maineditor {
        left:26rem;
    }
}

/* smaller desktop screen */
@media only screen and (max-width: 60em), only screen and (max-aspect-ratio: 12/10) {
    #logo .name {
        display: none !important;
    }    
    .ui.desktop.only {
        display:none !important;
    }
    #helpcard {
        right: 2rem;
        top: initial;
        bottom: 2.2rem;
        margin: 0;
    }
}

/* thin desktop portrait mode */
@media only screen and (max-width: 55em), only screen and (max-aspect-ratio: 7/10) {
    #helpcard {
        right: 2rem;
        top: initial;
        bottom: 2rem;
        margin: 0;
    }
    #maineditor {
        left: 0;
    }
    .ui.landscape.only {
        display:none !important;
    }
    .hideEditorFloats .editorFloat {
        display:none;
    }    
    #filelist {
        position:absolute;
        z-index:5;
        bottom:2rem;
        left:1rem;
        top:initial;      
        width:initial;  
        min-width: unset;   
    }
    div.simframe {
        display:inline-block;
        width: 18rem;
        margin-right:0.5rem;
    }
    div.simframe:not(:first-child) {
        display:none;
    }    
    .blocklyTreeLabel {
        font-size:1rem;
    }    
}

@media only screen and (min-width: 55em) {
    .ui.portrait.only {
        display:none !important;    
    }
}

@media only screen and (max-height:42.5em) {
    .ui.tall.only {
        display:none !important;
    }
}

/* thin display, mobile */
@media only screen and (min-width:36em) {
    .ui.thin.only {
        display:none !important;        
    }
}

@media only screen and (max-width:36em) {
    #logo {
        font-size: 0rem;
        padding-right: 0;        
    }
    .ui.wide.only {
        display:none !important;        
    }
    .blocklyTreeLabel, .blocklyText {
        font-size:0.8rem !important;
    }    
    div.simframe {
        display:inline-block;
        width: 10rem;
        margin-right:0.5rem;
    }
    div.simframe:not(:first-child) {
        display:none;
    }    
    div.simframe.grayscale {
        width:4rem;
    }
}

@media only screen and (max-width:36em) and (orientation:landscape) {
    #filelist {
        top:0rem;
        right:0rem;
        left:unset;
        min-width: unset;   
    }    
}
