#mbitboardview svg {
    width:100%;
}

.sim-button, .sim-led {
    pointer-events: none;    
}

.sim-button-outer:hover {
    stroke:grey;
    stroke-width: 3px;
}

.sim-pin-touch:hover {
    stroke:#D4AF37;
    stroke-width:3px;
}