.common-draggable-graph {
    background-color: var(--pxt-neutral-background1);
    color: var(--pxt-neutral-foreground1);
}

.common-draggable-graph-text {
    user-select: none;
    color: var(--pxt-neutral-foreground1);
    stroke: var(--pxt-neutral-foreground1);
}

.draggable-graph-point {
    fill: var(--pxt-neutral-background1);
    stroke: var(--pxt-neutral-alpha50);
}

.draggable-graph-path {
    stroke: var(--pxt-primary-background);
}

.draggable-graph-surface {
    cursor: pointer;
}

.draggable-graph-svg {
    touch-action: none;
}
