.common-dropdown-modal .common-modal {
    .common-modal-header {
        display: none;
    }
    .common-modal-body {
        background: none;
    }

    .common-menu-dropdown-pane {
        position: relative;
        right: unset;
    }

    .common-dropdown-item .fas.fa-check.transparent {
        opacity: 0;
    }
}