.common-menu-dropdown {
    height: 100%;
    position: relative;
}

.common-menu-dropdown-pane {
    position: absolute;
    right: 0;
    width: 10rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: @menuDropdownPaneBackground;
    }

    li {
        width: 100%;
    }
}

.common-menu-dropdown-item {
    background: none;
    text-align: left;
}