@use "sass:color";

//$primary-color: #3279ff;
$page-background: #FFFFFF22;
$primary-background: #22c55e;
$primary-text: white;
$secondary-background: #0ea5e9;
$secondary-text: white;
$page-text: white;

.host-view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    width: 95%;
    height: 95%;

    .panel {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
        padding: 1rem 1rem;
        color: $page-text;
        background-color: $page-background;
        border-radius: 1.5rem;

        p.label {
            font-size: large;
            font-weight: bold;
            padding: 0;
            margin: 0 0 0.5rem 0;

            i.help {
                cursor: pointer;
            }
        }

        &.controls {

            div.share-link {
                display: flex;
                gap: 0.5rem;
                width: 100%;

                div.share-link {
                    div[class~="common-input-group"] {
                        width: 100%;
                        border: 1px solid #717171;
                    }
                }

                button.load {
                    font-weight: bold;
                    border-radius: 1rem;
                    height: 2rem;
                    padding: 0 1.5rem;
                    color: $primary-text;
                    background-color: $primary-background;
                }
            }

            div.join-code-group {
                display: flex;
                gap: 0.5rem;
                width: 100%;

                button.join-code {
                    font-size: x-large;
                    font-weight: bold;
                    font-family: OCRA, OCRB, 'Roboto Mono', monospace;
                    color: #ffffffcc;
                    background-color: #ffffff22;
                    border: 2px solid #ffffffcc;
                    border-radius: 1rem;
                    padding: 0.25rem 1.5rem;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        filter: grayscale(.15) brightness(.85) contrast(1.3);
                    }

                    &:active {
                        filter: grayscale(.2) brightness(.8) contrast(1.3);
                    }
                }

                button.copy {
                    font-weight: bold;
                    border-radius: 1rem;
                    padding: 0 1.5rem;
                    color: $secondary-text;
                    background-color: $secondary-background;
                }

                button.copy-link {
                    font-weight: bold;
                    border-radius: 1rem;
                    padding: 0 1.5rem;
                    color: $secondary-text;
                    background-color: $secondary-background;
                }
            }

            div.me-group {
                flex: 1;
            }

            div.leave-group {
                button.exit {
                    color: white;
                    font-weight: bold;
                    background-color: #f43f5e;
                    border-radius: 1rem;
                    width: 100%;
                }
            }
        }

        &.presence {
            div.players {
                display: flex;
                flex-direction: column;
                color: #ffffffcc;

                :first-child {
                    border-top-left-radius: 99px;
                    border-bottom-left-radius: 99px;
                }

                :last-child {
                    border-top-right-radius: 99px;
                    border-bottom-right-radius: 99px;
                }

                div.player {
                    display: flex;
                    flex-direction: row;
                    gap: 1px;

                    span.name {
                        flex: 1;
                        font-weight: bold;
                        padding: 0.1rem 0.75rem;
                        background-color: #ffffff22;
                    }

                    span.host {
                        background-color: rgba($primary-background, 0.75);
                        padding: 0.1rem 0.75rem;
                    }

                    span.me {
                        background-color: rgba($secondary-background, 0.75);
                        padding: 0.1rem 0.75rem;
                    }

                    button.actions {
                        color: #ffffffcc;
                        padding: 0;
                        margin: 0;
                        background-color: #ffffff22;

                        span, i {
                            background-color: transparent;
                        }

                    }
                }
            }
        }

        &.sim {}

    }
}