.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.action-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.action-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 16rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;

    &.host {
        background-color: #3279FF;
    }
    &.join {
        background-color: #46CBB0;
    }
    &.build {
        background-color: #B82DAE;
    }
}

.action-card-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.action-card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.action-card-description {
    font-size: 1rem;
}

.action-card-label {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.gallery-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    width: 60rem;
    height: 19rem;
}