.sign-in-modal {
    div[class~="common-modal"] {
        border-radius: 1.5rem;

        div[class~="common-modal-body"] {
            background-color: #f4f0ec;

            div[class~="signin-body"] {
                button[class~="provider"] {
                    border-radius: 1rem;
                }
            }
        }
    }
}

.title {
    font-size: x-large;
    font-weight: bold;
}
