.graph-activity.selected rect, .graph-activity.selected circle {
    stroke: var(--hover-color);
    stroke-width: 4px;
}

.graph-icon {
    font-family: Icons;
    font-size: 1.75rem;
    opacity: 0.8;
}