.makecode-frame {
    width: 100%;
    height: 100%;
}

.makecode-frame-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.makecode-frame-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-target-foreground1);
    z-index: var(--frame-loader-zindex);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.makecode-frame-loader.hidden {
    display: none;
}

.makecode-frame-loader img {
    max-width: 200px;
    vertical-align: middle;

   -webkit-animation: loader-pxt 2s infinite linear;
   animation: loader-pxt  2s infinite linear;
 }

.makecode-frame-loader-bar {
    --progress-bar-filled-color: var(--pxt-primary-background);
    --progress-bar-unfilled-color: transparency;
    --progress-bar-border-color: var(--pxt-primary-foreground);
    width: 10rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}
.makecode-frame-loader-bar progress.common-progressbar {
    border-width: 1px;
    border-radius: 1px;
}

/*******************************/
/*****   HIGH CONTRAST     *****/
/*******************************/

.high-contrast .makecode-frame-loader,
.high-contrast .makecode-frame-loader-bar {
  background-color: var(--high-contrast-background);
  border-color: var(--high-contrast-text);
}

.high-contrast .makecode-frame-loader img {
  filter: grayscale(100%) brightness(60%) contrast(400%);
  animation: none;
  -webkit-animation: none;
}

.high-contrast .makecode-frame-loader-fill {
  background-color: var(--high-contrast-text);
}


 @-webkit-keyframes loader-pxt {
   0% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             }
   15% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(-5deg);
             transform: perspective(160px) rotateX(0deg) rotateY(-5deg); }
   50% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(5deg);
             transform: perspective(160px) rotateX(0deg) rotateY(5deg);
             }
   100% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             }
 }

 @keyframes loader-pxt {
   0% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             }
   15% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(-5deg);
             transform: perspective(160px) rotateX(0deg) rotateY(-5deg); }
   50% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(5deg);
             transform: perspective(160px) rotateX(0deg) rotateY(5deg);
             }
   100% {
     -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             transform: perspective(160px) rotateX(0deg) rotateY(0deg);
             }
 }
