/* SHARE MODAL */
.share-disclaimer {
    box-shadow: inset 0 0 0 1px #a9d5de, 0 0 0 0 transparent;
    background-color: #f8ffff;
    color: #276f86;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 1rem 0 1.5rem;
}

.share-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.share-loader .common-spinner {
    margin-right: 0.5rem;
}

.share-loader span {
    height: 20px;
}

.share-input {
    margin: 1rem 0rem;
}

/* DELETE PROFILE MODAL */
.delete .checkbox {
    padding-top: 1rem;
}

/* PROFILE DIALOG */
/* Most of this CSS is copied from the webapp in commons.less */
.profiledialog .ui.card {
    margin: 0;
    margin-right: 14px;
    margin-bottom: 14px;
    border-radius: 0;
    color: black;
    border: 1px solid black !important;
    background-color: white;
}

.profiledialog button {
    margin: 0;
}

.profiledialog label.title {
    font-weight: bold;
}

.profiledialog p.value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profiledialog p.description {
    text-overflow: ellipsis;
    overflow: hidden;
}

.profiledialog div.header-text {
    font-size: 20px;
    white-space: nowrap;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
}

.profiledialog div.profile-pic {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
}
.profiledialog .ui.card.panel {
    width: fit-content;
    min-width: 350px;
    max-width: 500px;
    padding: 14px;
    display: inline-grid;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.profiledialog .ui.card.panel div.row {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    max-width: 100%;
}

.profiledialog .ui.card.panel div.row-span-two {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: start;
    max-width: 100%;
}

/* CERTIFICATE MODAL */
.certificate-reward {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem
}

.certificate-reward img {
    max-width: 50%;
}

/* BADGE MODAL */
.badge-modal-image {
    margin-top: 1rem;
}

/* COMPLETION MODAL */
.completion-reward {
    margin: 1rem 0;
    width: 100%;
}

/*******************************/
/*****   HIGH CONTRAST     *****/
/*******************************/

.high-contrast .confetti {
    display: none;
}

.high-contrast .common-modal-container.sign-in .icon.cloud-user {
    filter: invert();
}

@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-1vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(1vw,50vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-1vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(1vw,110vh); }
}

@keyframes confetti-reverse {
    0% { transform: rotateZ(5deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(15deg) rotateY(360deg) translate(1vw,20vh); }
    50% { transform: rotateZ(5deg) rotateY(720deg) translate(-1vw,50vh); }
    75% { transform: rotateZ(15deg) rotateY(1080deg) translate(1vw,80vh); }
    100% { transform: rotateZ(5deg) rotateY(1440deg) translate(-1vw,110vh); }
}