/* CAROUSEL ITEM CUSTOMIZATION */
.carousel-item {
    perspective: 2500px;
}

.carousel-item.linked {
    margin-right: 2rem;
}
.carousel-item.linked:after {
    content: '';
    position: absolute;
    right: -2.5rem;
    width: 2.5rem;
    height: 0.75rem;
    background-color: #000;
}
.carousel-item.linked:last-child:after {
    display: none;
}

/* SKILL CARD OVERLAY */
.skill-card-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    line-height: 6rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.selected .skill-card-overlay {
    pointer-events: none;
}

/* SKILL CARD */
.skill-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.selected .skill-card {
    border-color: #444;
    transform: rotateX(180deg);
}

.skill-card-title {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.skill-card-display, .skill-card-info {
    background-color: #ddd;

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* SKILL CARD DISPLAY (FRONT) */
.skill-card-display {
    justify-content: flex-end;
}

.skill-card-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.skill-card-image i {
    font-size: 6rem;
    line-height: 6rem;
}

.skill-card-image img {
    width: 100%;
}

.locked .skill-card-image img {
    filter: grayscale(100%);
    opacity: 0.5;
}

.skill-card-label {
    margin: 0.5rem;
    flex-shrink: 0;
}

.skill-card-tags {
    display: flex;
    flex-shrink: 0;
    height: 1.5rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

.skill-card-tags div {
    margin-right: 0.25rem;
    padding: 0 0.25rem;
    border: 1px solid #999;
}

/* SKILL CARD INFO (BACK) */
.skill-card-info {
    padding: 0.5rem;
    transform: rotateX(180deg);
}

.skill-card-description {
    overflow-y: auto;
}

.skill-card-action {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
}

/* SKILL CARD ACTION BUTTON (BACK) */
.skill-card-button,
.skill-card-button-icon {
    height: 2.5rem;
}

.skill-card-button {
    border: 1px solid #444;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    flex: 1;
}

.skill-card-button:hover,
.skill-card-button-icon:hover {
    background-color: #ccc;
}

.skill-card-button-icon {
    border: 1px solid #444;
    border-right: none;
    padding: 0.5rem;
}

.locked .skill-card-button,
.locked .skill-card-button:hover {
    color: #999;
    background-color: transparent;
    border-color: #999;
    cursor: not-allowed;
}

.completed i.xicon.redo {
    font-size: 1.5rem;
}

.completed i.xicon.redo:before {
    vertical-align: bottom;
}

.circular-label {
	background: #656565;
	padding: 0.2rem;
	font-size: 0.75rem;
	color: white;
	border-radius: 1.5rem;
	vertical-align: middle;
	margin-right: 0.25rem;
}