## Mengabaikan file sementara Visual Studio, membuat hasil, dan
## file yang dihasilkan oleh add-on Visual Studio yang populer.
##
## Dapatkan terbaru dari https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# File khusus pengguna
*.suo
*.pengguna
*.userosscache
*.sln.docstates

# File khusus pengguna (MonoDevelop/Xamarin Studio)
*.userprefs

# Bangun hasil
[Dd]ebug/
[Dd]ebugPublik/
[Rr]elease/
[Rr]lepaskan/
x64/
x86/
bld/
[Bb]di/
[Oo]bj/
[Ll]og/

# Direktori cache / opsi Visual Studio 2015
.vs /
# Uncomment jika Anda memiliki tugas yang membuat file statis proyek di wwwroot
# wwwroot /

# Hasil Uji MSTest
[Tt] est [Rr] esult * /
[Bb] uild [Ll] og. *

# NUNIT
* .VisualState.xml
TestResult.xml

# Bangun Hasil dari sebuah Proyek ATL
[Dd] ebugPS/
[Rr] eleasePS/
dlldata.c

# Hasil Tolok Ukur
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifak /
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# File uji Chutzpah
_Chutzpah*

# Visual C ++ file cache
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Bimbingan Otomasi Toolkit
*.gpState

# ReSharper adalah .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode adalah .NET coding add-in
.JustCode

# TeamCity adalah build add-in
_TeamCity*

# DotCover adalah Alat Cakupan Kode
*.dotCover

# Hasil cakupan kode Visual Studio
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Folder output Installshield
[Ee]xpress/

# DocProject adalah plugin generator add-in
DocProject/buildhelp/
DocProject/Help/* .HxT
DocProject/Help/* .HxC
DocProject/Help/*. Hhc
DocProject/Help/*. Hhk
DocProject/Help/*. Hhp
DocProject/Help/Html2
DocProject/Help/html

# Direktori Click-Once
menerbitkan/

# Publikasikan Output Web
*. [Pp] ublish.xml
* .azurePubxml
# TODO: Beri komentar pada baris berikutnya jika Anda ingin mencentang setelan penggelaran web Anda
# tapi string koneksi database (dengan kata kunci potensial) tidak akan dienkripsi
* .pubxml
* .publishproj

# Microsoft Azure Web App menerbitkan pengaturan. Komentar baris berikutnya jika Anda mau
# Memeriksa aplikasi Web Azure Anda untuk menerbitkan setelan, namun berisi informasi sensitif
# dalam skrip ini tidak akan dienkripsi
PublishScripts /

# Paket NuGet
* .nupkg
# Folder paket bisa diabaikan karena Package Restore
** / paket / *
# kecuali build /, yang digunakan sebagai target MSBuild.
** / paket / build /
# Uncomment jika perlu namun umumnya akan diregenerasi bila diperlukan
#! ** / packages / repositories.config
# File NuGet v3's project.json menghasilkan file yang lebih tidak terlihat
* .nuget.props
* .nuget.targets

# Microsoft Azure Bangun Output
csx /
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store direktori dan file paket aplikasi
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# File cache Visual Studio
# file yang berakhiran .cache bisa diabaikan
*.[Cc]ache
# tapi tetap melacak direktori yang diakhiri dengan .cache
!*.[Cc]ache/

# Lainnya
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Karena ada beberapa alur kerja, hapus tanda komentar pada baris berikutnya untuk mengabaikan komponen bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# bower_components /

# Proyek RIA / Silverlight
Generated_Code/

# Backup & laporkan file dari pengubahan file proyek lama
# ke versi Visual Studio yang lebih baru. File cadangan tidak diperlukan,
# karena kita memiliki git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# File SQL Server
*.mdf
*.ldf
*.ndf

# Proyek Intelijen Bisnis
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# Plugin plugin GhostDoc file
*.GhostDoc.xml

# Alat Node.js untuk Visual Studio
.ntvs_analysis.dat
node_modules/

# Typescript v1 declaration files
typings/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (berisi file yang terbuka dll)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Kue-Uncomment jika Anda menggunakannya
# tools /**
#! tools /packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
