/* Import all components */

@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */

@import (reference) "semantic.less";

/*******************************
        Debugger
*******************************/

/* Top bar menu */
.menubar .debugger-menu-item.centered {
    position: fixed;
    place-content: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: inherit;
    width: 33%;
}

/* Debugger toolbox */
.debuggerToolbox.elements {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Debugger toolbox flyout */
.debugging .blocklyFlyout {
    display: none!important;
}

.debugging .blocklyFlyoutScrollbar {
    display: none!important;
}

/* Debugger toolbar */
.debugtoolbar {
    // don't show the toolbar unless we're debugging.
    display: none;
}

.debugging .debugtoolbar {
    width: 100%;
    z-index: @debuggerToolsZIndex;
    display: flex;
    .ui.menu {
        border-radius: 0 !important;
        border-left: none;
        display: flex;
        width: 100%;
        .item {
            padding-left: 10px;
            padding-right: 10px;
        }
        .separator-after {
            border-right: 1px solid #dddddd;
        }
    }
}

/* Debugger toolbar handle */
.ui.item.dbg-handle {
    cursor: move;
    background: #7F8C8D !important;
    .icon {
        color: white;
    }
}

/* Debugger toolbar buttons */

.ui.item.dbg-btn {
    white-space: pre;
}
.ui.item.dbg-btn .icon.blue {
    color: #0078D7!important;
}

.ui.item.dbg-btn .icon.red {
    color: #F6876D !important;
}

.ui.button.dbg-btn .icon.green {
    color: #87D282 !important;
}

.ui.item.link.dbg-btn.dbg-exit {
    background-color: #cccccc;
    color: rgb(255, 21, 0);
}

.ui.item.link.dbg-btn.disabled {
    color: rgba(40, 40, 40, .3);
}

/* Debugger variables view */
.ui.segment.debugvariables {
    table-layout: auto;
    width: 100%;
    display: none;

    .ui.middle.aligned.list {
        overflow-y: auto;
        max-height: 25rem;
    }

    .transparent{
        opacity: 0;
    }
    .variable {
        padding: 0.15rem;
    }
    .variable.varname {
        text-overflow: ellipsis;
        max-width: 1rem;
        overflow: hidden;
        white-space: nowrap;
    }
    .variable.detail {
        text-align: right;
    }
    .varval.number {
        color: @debugNumberVariable;
    }
    .varval.string {
        color: @debugStringVariable
    }
    .varval.boolean {
        color: @debugBooleanVariable;
    }
    .varval.array {
        color: @debugArrayVariable;
    }
    .varval.Sprite {
        color: @debugSpriteVariable;
    }
    .previousval {
        text-decoration: line-through;
        font-size: 90%;
        margin-left: 0.5rem;
    }
}

.debugging .ui.segment.debugvariables {
    display: table;
    margin: 0;
    border: none;
}

.ui.segment.debugvariables.frozen {
    background: #eee;
}
/* sim overlay */
div.simframe div.pause-overlay {
    background:black;
    opacity: 0.01;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;    
}

/* Old debugger view */
#root .debuggerview h4 {
    margin: 0.9em 0 0 0;
}
