
#editorSidebar {
    border-right: 2px solid darken(desaturate(@blocklyToolboxColor, 60%), 10%);

    .tab-navigation {
        color: @blue;
        background-color: @teal;
    }

    .tab-icon.active {
        color: @teal;
        background-color: @blue;
    }
}