@summary-hover-color: #00000067;

// Expanded error list
.errorList {
    position: relative;
    min-height: 200px;
    border-top: 2px #e5e5e5 solid;

    .errorListHeader {
        padding: 1em;
        margin-bottom: 0;

        h4 {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
        }

        .countBubble {
            margin-left: 1em;
        }

        .collapseButton {
            float: right;
            cursor: pointer;
            position: relative;
            vertical-align: middle;

            i {
                font-size: 1.5em;
            }

            i:not(:hover) {
                opacity: 0.5;
            }
        }
    }

    .errorListInner {
        height: 160px;
        padding: 0 1em 1em 1em;
        overflow-y: scroll;

        .errorMessage {
            padding: 0.1em;
        }
    }
}

// collapsed error list
.errorList.errorListSummary {
    min-height: unset;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.02);
    }
}