/*******************************
    Extension Error Dialog
*******************************/

.wizard-action {
    margin-left: 2rem;
    cursor: pointer;
}

.wizard-wrapper .loader {
    color: var(--pxt-color129) !important;
}

.progress-bar-container {
    width: 100%;
    height: 20px;
}

.progress-bar-bg {
    fill: var(--pxt-color130);
}

.progress-bar-content {
    fill: var(--pxt-color130);
    transition: width 0.3s;
}

.progress-bar-label {
    padding-top: 0.5rem;
}
