/* Import all components */

@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */

@import (reference) "semantic.less";

@blocklyLightTextColor: #fff;
@blocklyDarkTextColor: #575E75;

////// Note Editor Field ////////
.blocklyDropDownContent .blocklyPianoDiv {
    position: relative
}

.blocklyDropDownContent .blocklyNote {
    border: solid 0.5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.blocklyDropDownContent .blocklyNote:hover {
    background-color: yellow !important
}

.blocklyDropDownContent .blocklyNoteLabel {
    border: solid 0.5px;
    color: white;
    display: inline-block;
    line-height: normal;
    position: absolute;
    text-align: center;
    font-family: @blocklyFont;
    font-size: 12pt;
}

.blocklyDropDownContent .blocklyNotePrevNext {
    border: solid 0.5px;
    border-top: 0;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    position: absolute;
    text-align: center;
}

////// Grid Picker Editor Field ////////
.blocklyGridPickerTooltip {
    z-index: @gridPickerZIndex;
}

.blocklyGridPickerPadder {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3)
}

.blocklyWidgetDiv .blocklyGridPickerMenu {
    display: table;
    outline: none;
}

.blocklyGridPickerScroller {
    outline: none;
    padding: 4px;
    border-radius: 10px;
}

.blocklyGridPickerPadder {
    border-radius: 10px;
    outline: none;
}

.blocklyWidgetDiv .blocklyGridPickerRow {
    display: table-row;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .goog-menuitem {
    background: white;
    cursor: pointer;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .goog-menuitem-highlight, .blocklyWidgetDiv .blocklyGridPickerMenu .goog-menuitem-hover {
    background: #d6e9f8;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .goog-option {
    border: solid 4px black;
    border-radius: 10px;
    display: table-cell;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .floatLeft {
    float: left;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .goog-option.goog-option-selected {
    outline: solid 3px #fc3;
    position: relative;
}

.blocklyWidgetDiv .blocklyGridPickerMenu .goog-menuitem .goog-menuitem-checkbox {
    display: none;
}

.blocklyGridPickerTooltip {
    z-index: @gridPickerTooltipZIndex;
}

.ui.input input.blocklyGridPickerSearchBar {
    background: none;
    border: none;
    color: white;
}

.ui.input input.blocklyGridPickerSearchBar::placeholder {
    color: white;
}

.ui.input input.blocklyGridPickerSearchBar::-webkit-input-placeholder {
    color: white;
}

.ui.input input.blocklyGridPickerSearchBar::-moz-placeholder {
    color: white;
}

.ui.input input.blocklyGridPickerSearchBar:-ms-input-placeholder {
    color: white;
}

.ui.input input.blocklyGridPickerSearchBar:-moz-placeholder {
    color: white;
}

////// Toggle Editor Field ////////
.blocklyToggle {
    transition: transform 1s;
}

.blocklyToggle .blocklyToggleCircle, .blocklyToggle .blocklyToggleRect {
    stroke-width: 1px;
    stroke: grey;
    stroke-opacity: 0.4;
}
.blocklyToggle.blocklyToggleOn .blocklyToggleCircle, .blocklyToggle.blocklyToggleOn .blocklyToggleRect {
    fill: #4DDc64;
}
.blocklyToggle.blocklyToggleOff .blocklyToggleCircle, .blocklyToggle.blocklyToggleOff .blocklyToggleRect {
    fill: #95a5a6;
}

.blocklyToggle ~ .blocklyText.blocklyToggleText {
    font-size: 10pt;
    cursor: pointer;
}
.blocklyToggle.blocklyToggleOff ~ .blocklyText.blocklyToggleText {
    fill: white;
}

////// RGB Color picker ////////
.blocklyDropDownDiv .rgbColorPicker .goog-palette-colorswatch {
    height: 40px;
    width: 40px;
}

////// Color wheel ////////
.blocklyDropDownDiv .blocklyFieldSliderReadout .blocklyColorReadout {
    height: 20px;
    width: 25px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}