// command to re-compile:
// node node_modules/less/bin/lessc theme/style.less built/web/semantic.css --include-path=node_modules/semantic-ui-less:node_modules/pxt-core/theme:theme/foo/bar

#webcam-video {
    width: 100%;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#realtime-graph-x {
    height: 32%;
}

#realtime-graph-y {
    height: 32%;
}

#realtime-graph-z {
    height: 32%;
}

.rec-graph-row {
    height: 32%;
}

.rec-graph {
    float: left;
}

.rec-video {
    float: left;
}

.vertical-sep {
    float: left;
    height: 100px;
    border-left: 1px solid #000;
}