/* Import all components */

@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */

@import (reference) "semantic.less";

/* Melody Editor */

#melody-tempo-slider {
    width: 100px;
    margin: 1px;
}

#melody-name {
    margin: 1px;
    text-align: left;
    float: center;
    width: 200px; // !important;
}

#melody-name-label {
    background-color: white;
    margin: 10px;
}

#melody-toggle {
    margin: 10px;
    text-align: center;
    float: center;
}

#melody-tempo-text {
    width: 30px;
    margin: 1px;
    width: 35px;
}

.melody-grid-div {
    margin: 10px;
    float: center;
    text-align: center;
    //background: #560649;
}

.icon-melody-buttons {
    display: inline-block;

}

// #melody-play-button {
//     background-color: transparent;
//     font-size: 19px;
//     border-color: transparent;
//     outline: none;
// }

// #melody-loop-button {
//     background-color: transparent;
//     font-size: 19px;
//     border-color: transparent;
//     outline: none;
// }

// .melody-loop-icon {
//     font-family: "FontAwesome";
//     content: "\uf040";
// }

.cell {
    height: 35px;
    width: 35px;
    margin: 1px;
}

.melody-top-bar-div {
    margin: 10px;
    float: center;
    text-align: center;
    //background: #E30FC0;
}

.melody-button-bar-div {
    float: right;
    margin: 1px;
    white-space: nowrap;
}

.slider-container {
    float: left;
}

.melody-bottom-bar-div {
    margin: 10px;
    //background: #560649;
}

#melody-done-button {
    //margin: 1px;
    float: right;
}

