

/* Script search cards */
.searchdialog {
    .cards {
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0.5rem;
    }    
    .ui.card {
        height: 20rem;
        .ui.cardimage {
            height: 11rem;
        }
    }
}

