.pxt-json-settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pxt-json-simulator-theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;

    label {
        font-size: 14px;
        font-weight: 600;
    }
}