

/*******************************
    Script search dialog
*******************************/

.ui.searchdialog {
    .cards {
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0.5rem;
    }    
    .ui.card {
        height: 20rem;
        .ui.cardimage {
            height: 11rem;
        }
    }
    /* Search input */
    .ui.search {
        max-width: 50%;
        margin: auto;
    }

    .ui.inline.loader {
        margin-top: 4em;
        :after, :before {
            width: 4rem;
            height: 4rem;
        }
    }
}

// reduce all card sizes
@media only screen and (max-width: @largestMobileScreen) {
    .ui.searchdialog {
        .ui.card, .ui.cards>.card {
            width: 9rem;
            height: 9rem;
        }
        .ui.card {
            .content .description {
                display: none;
            }
            .content .header {
                font-size: 80%;
                font-weight: normal;
            }
            .ui.cardimage {
                height: 5rem;
            }
        }
    }
}