/* Import all components */
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*-------------------
   Serial
--------------------*/

#serialEditor {
    background-color: var(--pxt-target-background2);
    color: var(--pxt-target-foreground2);
}

#serialArea {
    height: 90%;
    padding: 1rem;

    #serialCsv,
    #serialCsvViewLatest {
        display: none;
    }

    .common-editor-toggle-outer {
        padding-left: 1.5rem;
    }

    &.csv-view {
        #serialCsv {
            display: block;

            table:last-child thead {
                position: sticky;
                top: -0.75rem;
                box-shadow: inset 0 2px 0 var(--pxt-neutral-alpha10), inset 0 -2px 0 var(--pxt-neutral-alpha10);
            }
        }

        #serialCharts,
        #serialPlaceholder,
        #serialConsole,
        .csv-hide {
            display: none;
        }

        #serialCsvViewLatest {
            display: block;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            left: 0;
            right: 0;
            max-width: 15rem;
            margin-top: -3em;
        }

        &.hide-view-latest {
            #serialCsvViewLatest {
                display: none;
            }
        }
    }

    &.no-toggle #serial-editor-toggle {
        display: none
    }
}

#serialArea .ui.divider {
    margin-bottom: 5px;
}

#serialArea .ui.segment {
    border: none;
    box-shadow: none;
    background-color: var(--pxt-target-background2);
    color: var(--pxt-target-foreground2);
}

.serialHeader {
    padding: 0;
    margin: 0 0 1rem 0;
    display: flex;
}

.serialHeader .leftHeaderWrapper {
    display: block;
}

.serialHeader .ui.header {
    margin: 0 1rem 0 1rem;
    color: var(--pxt-target-foreground2);
}

.serialHeader .leftHeader {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.serialHeader .rightHeader {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;
}

#serialHeader .toggleRecord {
    transition: border-radius 1s ease-in-out;
}

#serialConsole,
#serialCsv {
    margin-top: 0.5rem;
    height: calc(30% - 2.5rem);
    overflow-y: auto;
    color: var(--pxt-target-foreground2);
    background-color: var(--pxt-target-background2);
    border-radius: 5px;
    border: 1px solid var(--pxt-target-background2);
    padding: 0.4rem;
    font-family: @serialConsoleFont;
}

#serialConsole.noconsole {
    display:none;
}

#serialCsv {
    height: 100%;

    table {
        border-collapse: collapse;
        margin-top: 1em;
        text-align: right;
        border-spacing: 2px;
        border-color: var(--pxt-neutral-alpha50);
    }

    thead {
        font-weight: 700;
    }

    tbody tr, thead tr {
        background: var(--pxt-neutral-background1);
        color: var(--pxt-neutral-foreground1);
    }

    tbody tr.odd {
        background: var(--pxt-neutral-background2);
        color: var(--pxt-neutral-foreground2);
    }
    td, th {
        border: 1px solid var(--pxt-neutral-stencil1);
        padding: 8px;
        min-width: 8ch;
    }
}
#serialConsole.nochart {
    height: calc(100% - 12.5rem);
}

#serialConsole span {
    word-wrap: break-word;
}

#serialCharts {
    height: calc(70% - 2.5rem);
    overflow-y: auto;
}

#serialCharts.nochart {
    display: none;
}

#serialCharts.noconsole {
    height: calc(100% - 2.5rem);
}

#serialCharts .seriallabel,
#serialPlaceholder .seriallabel {
    padding: 5px 10px 5px 10px;
    color: var(--pxt-target-foreground2);
    width: auto;
    border-radius: 20px;
    margin: 5px;
    font-family: monospace;
}

#serialCharts .seriallabel {
    border: 1px solid var(--pxt-target-foreground2);
}

#serialPlaceholder .seriallabel {
    background-color: transparent;
}

#serialCharts .ui.segment,
#serialPlaceholder {
    padding: 0.4rem;
    height: 12rem;
    background-color: var(--pxt-target-background2);
    color: var(--pxt-target-foreground2);
    border: 1px solid var(--pxt-target-stencil2);
}

#serialCharts canvas {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

#serialPreview {
    cursor: pointer;
}

#serialPreview .label {
    width: 100%;
    background-color: var(--pxt-target-background2);
    font-size: 0.85em;
    border: 10px solid var(--pxt-tertiary-background);
    color: var(--pxt-target-foreground2);
    margin-bottom: 0.4rem;
    > * {
        vertical-align: middle;
        margin-left: 0.5rem;
    }
    .barcharticon {
        padding-bottom: 1px;
    }
    .detail {
        opacity: 0.7;
    }
}

#serialPreview .label:hover {
    opacity: 0.8;
}

#serialPreview .label:focus {
    outline: none;
}

.fullscreensim #serialPreview,
.simView #serialPreview {
    display: none !important;
    z-index: -10 !important;
}

.serialindicator {
    cursor: pointer;
}

.ui.button.labeled.icon.editorBack {
    color: var(--pxt-target-foreground2) !important;
    background: transparent !important;
    padding-left: 2.5em !important;
    .icon {
        background: none !important;
    }
}

.ui.button.editorBack:hover,
    .ui.button.editorBack:focus {
    color: var(--pxt-target-foreground2-hover);
}

div.smoothie-chart-tooltip {
    background: var(--pxt-neutral-background3);
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: var(--pxt-neutral-foreground3);
    font-size: 0.8rem;
    pointer-events: none;
}
