/* Import all components */
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*******************************
         Side docs
*******************************/

/* Side Docs layout */
#sidedocs {
  height:100%;
  top: 0;
  z-index: @sidedocZIndex;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 0;
}

#sidedocsbar {
  position: absolute;
  right: 1rem;
}

#sidedocsframe {
  width: 0;
  height: 0;
  border:none;
  background: white;
}

/* Side docs toggle button */
#sidedocstoggle {
  position: absolute;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  right: 0;
  top: 40%;
  bottom: 40%;
  height: 20%;
  z-index: @sidedocZIndex;
  padding: 0;
  margin: 0;
  background: grey;
  box-shadow: none !important;
  transition: none;

  &:hover,
  &:focus {
    background: #5A5A5A;
  }
}

.sideDocs #sidedocs {
    position: fixed;
    visibility: visible;
    opacity: 1;
    width: @sideBarWidth;
    top: calc(@mainMenuHeight + 1rem);
    padding-bottom: calc(@mainMenuHeight + @editorToolsCollapsedHeight + 2rem);
}

.sideDocs #sidedocsframe-wrapper {
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    width: @sideBarWidth;
    height: 100%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.41);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: @sidedocZIndex;
}

.sideDocs #sidedocsframe {
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
}

.sideDocs #sidedocstoggle {
   right: @sideBarWidth;
   transition: right 0.5s, opacity 0.5s linear;
}

/* Show chevron icon on hover when collapsed */
#sidedocstoggle > i.icon.hover {
    display: none;
}
#root:not(.sideDocs) #sidedocstoggle.ui.button:hover > i.icon {
    display: none !important;
}
#root:not(.sideDocs) #sidedocstoggle.ui.button:hover > i.icon.hover {
    display: inherit !important;
}

.sideDocs #sidedocsbar {
    top: 1rem;
    z-index: @sidedocZIndex+1;
}

#sidedocsbar .ui.link .icon {
  cursor: pointer;
  font-size: @h3;
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {
    .sideDocs #sidedocs, .sideDocs #sidedocsframe, .sideDocs #sidedocsframe-wrapper {
        width: @sideBarWidthLarge !important;
    }
    .sideDocs #sidedocstoggle {
        right: @sideBarWidthLarge !important;
    }
}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {

}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {

}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {

}

/* >= Small Monitor (Small Monitor + Large Monitor + Wide Monitor) */
@media only screen and (min-width: @computerBreakpoint) {
}

/* <= Small Monitor (Mobile + Tablet + Small Monitor) */
@media only screen and (max-width: @largestSmallMonitor) {

}

/* <= Tablet (Mobile + Tablet) */
@media only screen and (max-width: @largestTabletScreen) {
    .sideDocs #sidedocs {
        top: calc(@mobileMenuHeight + 1rem);
        padding-bottom: calc(@mobileMenuHeight + @editorToolsHeight + 2rem);
    }
    .sideDocs.collapsedEditorTools #sidedocs, .sideDocs.hideEditorFloats #sidedocs {
        padding-bottom: calc(@mobileMenuHeight + @editorToolsCollapsedHeight + 2rem);
    }
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    .sideDocs #sidedocs, .sideDocs #sidedocsframe, .sideDocs #sidedocsframe-wrapper {
        width: @sideBarWidthSmall !important;
    }
    .sideDocs #sidedocstoggle {
        right: @sideBarWidthSmall !important;
    }
}