.sound-effect-editor {
    width: 100%;
    height: 100%;
    background-color: @white;
    border-radius: 0.25rem;
}

.sound-preview {
    height: 8rem;
    background: #e63022;
    opacity: 0.1;
}

.sound-effect-header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 3.5rem;
    position: relative;

    justify-content: center;
    align-items: center;

    background-color: #E63022;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    & > .common-button {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.frequency-graph-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > span {
        flex-grow: 1;
    }
}

.dropdown-and-label {
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
    align-items: center;

}

.sound-controls {
    padding: 0.5rem 2rem;
}

.sound-graph-container {
    margin-top: 0.5rem;
    border: 1px solid #dedede;
}

.sound-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 2rem;
    margin-right: 0.5rem;
}

.sound-label.waveform-name {
    font-weight: 600;
    margin-left: 0.5rem;
}

.waveform-and-duration-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    .duration-controls {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: right;

        input {
            width: 4rem;
        }
    }
}