.ui.fullscreen.modal.time-machine-dialog > .content {
    background-color: white;
}

.time-machine {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;

    .time-machine-preview {
        flex-grow: 1;

        iframe {
            border: #dedede solid 1px;
            border-radius: 0.5rem;
            height: 100%;
            width: 100%;
        }
    }

    .time-machine-timeline {
        width: 10rem;
        height: 100%;
        padding: 1rem;
        position: relative;

        display: flex;
        flex-direction: column;
        text-align: center;

        .time-machine-label {
            margin: 1rem;
        }

        .time-machine-timeline-slider {
            flex-grow: 1;
        }
    }
}