/* Import all components */
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

@inlineBlockColor: #D83B01;

/*******************************
      Tutorial mode
*******************************/

.tutorial #maineditor .full-abs {
    top: 5.5rem;
}
.tutorial #maineditor #monacoEditor {
    top: 0rem;
}
/* Tutorial Mode */
.menubar .ui.menu .item.tutorial-menuitem {
    background: rgba(27, 28, 29, 0.3) !important;
    margin: calc(0.45rem);
    padding: calc(0.45rem);
    border-radius: 0.5rem !important;
}
.menubar .ui.menu .item.tutorial-menuitem > .step-label {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.menubar .ui.menu .item.tutorial-menuitem > .label {
    background: white;
    margin-left: 0em;
}
.tutorial-menuitem > .selected {
    background-color: @tutorialSelectedMenuColor !important;
    padding: 1.0rem !important;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
}

#tutorialcard {
    position: relative;
    z-index: 1;
    height: 6rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

#root.dimmable.dimmed #tutorialcard.tutorialReady {
    z-index: @tutorialLightboxCardZIndex;
}

#tutorialhint {
    height: 100%;
}

#tutorialcontent {
    position: fixed;
    top: 0;
    left: 0;
}

body#docs.tutorial {
    overflow-y: hidden;
}
#docs.tutorial .ui.segment {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
}
#docs.tutorial #root{
    margin-bottom: 0.5rem !important;
}

/******************************
    Tutorial Avatar
******************************/

#tutorialcard .ui.tutorialsegment {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0px;
    background: @tutorialSegmentBackground;
}

#tutorialcard .ui.tutorialsegment .avatar-image {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: @avatarImage;
    cursor:pointer;
}

#tutorialcard {
    padding: 0.5rem;
}

#tutorialcard .ui.buttons {
    width: 100%;
    height: 4.5rem;
}

#tutorialcard .ui.tutorialsegment {
    width: 100%;
}

#tutorialcard .tutorialmessage .content {
    width: 100%;
    font-size: 12pt;
    height: 4rem;
    overflow: auto;
    cursor:pointer;
}
#tutorialcard .tutorialmessage .content p {
    line-height: 30px !important;
    color: @tutorialSegmentColor;
}

#tutorialcard .tutorialmessage {
    width: 100%;
    padding: 0.5rem;
    padding-left: 7rem;
    height: 4.5rem;
    margin-bottom: 1rem;
}

#root.dimmable.dimmed .ui.segment.message {
    border-radius: 5px;
}

/* Show / Hide in dimmer */
.ui.showlightbox {
    display: none;
}

#root.dimmable.dimmed #tutorialcard.tutorialReady .ui.showlightbox {
    display: block;
}

#root.dimmable.dimmed #tutorialcard.tutorialReady .ui.hidelightbox {
    display: none;
}

#root.dimmable.dimmed #tutorialcard.tutorialReady .ui.prevbutton, #root.dimmable.dimmed #tutorialcard.tutorialReady .ui.nextbutton {
    opacity: 0 !important;
    z-index: -1;
}

#tutorialcard .ui.button.okbutton {
    border-radius: 0.28571429rem;
}

i.icon.avatar-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: @avatarImage;
}

/* Tutorial blocks */

.hintdialog .ui.segment .blocklyPreview {
    width: 100%;
    @media only screen and (min-height: 400px) {
        max-height: 50vh;
    }
}


/******************************
    Hint button
******************************/

#tutorialcard .ui.button.hintbutton {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    font-size: 0.8rem;
    border-radius: 0.28571429rem;
    padding: 0.4rem;
	background-color: @primaryColor;
    color: white;
}

#tutorialcard .ui.button.hintbutton:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -10px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: @primaryColor transparent transparent transparent;
}


/******************************
    Inline Blocks and Buttons
******************************/

span.docs.inlinebutton {
    padding: 0.4rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    background-color: @primaryColor;
    color: @white;
}

span.docs.inlineblock {
    padding: 0.05rem .2rem;
    border-radius: .2rem;
    white-space: nowrap;
    background-color: @inlineBlockColor;
    color: @white;
    font-family: @blocklyFont !important;
    font-size: 1em !important;
}

code.lang-filterblocks {
    display: none;
}

/*******************************
        Tutorial Hint
*******************************/

.ui.modal.hintdialog .content p {
    font-size: 16px;
    line-height: 25px;
}

.ui.modal.hintdialog {
    .ui.segment {
        display: flex;
        min-height: 100px;
    }
}


/*******************************
        Media Adjustments
*******************************/


/* > Small Monitor */
@media only screen and (min-width: @computerBreakpoint) {
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {

}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {

}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {

}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    #tutorialcard .ui.tutorialsegment .avatar-image {
        display: none;
    }
    #tutorialcard .ui.button.hintbutton {
        display: none;
    }
    #tutorialcard .ui.button.prevbutton {
        display: none;
    }
    #tutorialcard .tutorialmessage {
        padding-left: 0.5rem;
    }
}

/* >= Small Monitor (Small Monitor + Large Monitor + Wide Monitor) */
@media only screen and (min-width: @computerBreakpoint) {
}

/* <= Small Monitor (Mobile + Tablet + Small Monitor) */
@media only screen and (max-width: @largestSmallMonitor) {

}

/* <= Tablet (Mobile + Tablet) */
@media only screen and (max-width: @largestTabletScreen) {

}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {

}
