/* Import all components */
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";


/*******************************
        Tutorial Hint
*******************************/

.ui.modal.hintdialog .content p {
    font-size: 16px;
    line-height: 25px;
}

.ui.modal.hintdialog {
    .ui.segment {
        display: flex;
        min-height: 100px;
    }
}

.ui.modal.hintdialog,
.tutorialsegment .tutorialmessage {
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.tutorialCodeValidation {
    position: absolute;
    max-width: 100%;
    min-width: 300px;
    top: ~'calc(50% + 3rem)';
    right: 2rem;
    padding: 10px 26px;
    border-radius: 1.2rem;
    background: @white;
    z-index: @tutorialLightboxCardZIndex;
    border: 8px solid @blue;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
}

.tutorialCodeValidation:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 5px;
    top: -24px;
    bottom: auto;
    border: 16px solid;
    border-color: transparent @blue transparent transparent;
    transform: rotateZ(-135deg);
}

.tutorialCodeValidation > div {
    max-height: 60vh;
    overflow: auto;
}

.tutorialCodeValidation.hidden {
    display: none;
}

.tutorialCodeValidation .lang-blocks .segment.raised {
    border: none;
    background: none;
    box-shadow: none;
    text-align: center;
    min-height: 3em;
}

.shake .icon {
    animation: shake 1.5s ease-in-out;
}

.tutorialCodeValidation .mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/*******************************
     Tutorial Tooltip
*******************************/
.avatar-container {
    left: .7rem;
    height: 100%;
}

.avatar-container .tooltip {
    position: absolute;

    top: ~'calc(50% + 1.8rem)';
    left: auto;
    width: 10rem;
    max-width: 175px;
}

.avatar-container .tooltip ,
.avatar-container .tooltip:before {
    background-color: @blue;
    color: @white;
}

.avatar-container .tooltip:before {
    right: 3rem;
    left: auto;
}

.hideIteration .avatar-container .tooltip:before {
    right: 2.8rem;
}

#tutorialCodeValidationID:not(.showTooltip) .tooltip,
#tutorialCodeValidationID:not(.showTooltip) .tooltip:before {
    display: none;
}

