:root {
    --header-height: 4rem;
    --header-padding-top: 1rem;

    --body-font-family: "Share Tech Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    --feature-text-font: Segoe UI,Tahoma,Geneva,Verdana;

    --frame-loader-zindex: 30;
    --above-frame-zindex: 50;
    --modal-dimmer-zindex: 100;

    --fullscreen-modal-zindex: 90;

    --graph-backround-zindex: 10;
    --above-graph-zindex: 20;

    --high-contrast-text: #fff;
    --high-contrast-background: #000;
    --high-contrast-highlight: #ffff00;
    --high-contrast-focus-outline: 2px solid var(--high-contrast-highlight);
    --high-contrast-hyperlink: #807FFF;
}


body {
    position: relative;
    margin: 0;
    font-family: var(--body-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-target-foreground1);
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    width: 100%;
    height: 100%;
}

#root.editor {
    height: 100%;
}

#root > div {
    width: 100%;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.noclick {
    pointer-events: none;
    cursor: default;
}

/* HEADER BAR */
.header {
    background-color: var(--pxt-header-background);
    color: var(--pxt-header-foreground);

    height: var(--header-height);
    max-height: var(--header-height);
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    z-index: var(--above-frame-zindex);
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo {
    display: flex;
}

.header .brand {
    font-size: 1.5rem;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.header .header-logo:after {
    position: relative;
    height: 1.5rem;
    border-right: 2px solid var(--pxt-header-foreground);
    content: " ";
}

.header .common-button.menu-button.inverted,
.header .common-button.menu-button.inverted:hover  {
    background: var(--pxt-header-foreground);
    color: var(--pxt-header-background);
}

.ui.item.logo span.name {
    margin-left: 1rem;
    margin-bottom: 1px;
}

.ui.item.logo button.name,button.name-short {
    margin-left: 0 !important;
}

.header-logo img {
    height: 1.4rem;
    margin: 0 1rem;
}

.user-menu {
    height: 100%;
}

.user-menu .header-button.sign-in {
    border-radius: 6px;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-target-foreground1);
    height: 80%;
    margin: .5rem;
    margin-right: 1rem;
    padding: .6rem;
    font-family: var(--feature-text-font);
    font-weight: 500;
    flex-direction: row-reverse;
    align-items: center;
}

.user-menu .header-dropdown {
    height: inherit;
    cursor: pointer;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.user-menu .avatar img {
    border: solid 2px var(--pxt-header-foreground);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

.header-org-logo {
    height: 2rem;
    margin-left: 1rem;
}

.header-org-logo img {
    height: 100%;
}

.header-org-logo .header-org-logo-small {
    display: none;
}

.header i {
    line-height: 2rem;
    cursor: pointer;
}

.header-dropdown i,
.header-dropdown span,
.header-dropdown img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 3.5rem;
    margin: 0;
    font-size: 1.6rem;
}

.header-button {
    color: var(--pxt-header-foreground);
    height: 100%;
    padding: var(--header-padding-top) 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    flex: 1;
    user-select: none;
    white-space: nowrap;
    font-size: 1.6rem;
}

.header-button.with-label {
    flex-grow: 3;
    display: flex;
}

.header-button.icon-only {
    font-size: unset;
    padding: var(--header-padding-top) 0.5rem;
}

.header-button .header-button-label {
    line-height: 2rem;
    white-space: nowrap;
    font-size: 1rem;
    margin-right: .4rem;
}

.header-button:hover, .header-dropdown:hover {
    background-color: var(--pxt-neutral-alpha10);
}

.header-button:hover>i,
.header-dropdown:hover>i {
    transform: scale(1.2);
}

.header-button.sign-in:hover {
    transform: scale(1.1);
}

.header-button.sign-in:hover>span,
.header-button.sign-in:hover>i {
    transform: none;
}

.header-activity-display-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 10;
    font-size: 1.2rem;
    font-weight: 700;
}

.avatar-initials {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    border: solid 2px var(--pxt-colors-teal-foreground);
    background-color: var(--pxt-colors-teal-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header-dropdown.user-dropdown .dropdown-menu {
    top: var(--header-height);
}

/* TOP BANNER */
.banner {
    background-color: var(--pxt-secondary-background);
    color: var(--pxt-secondary-foreground);

    display: flex;
    align-items: center;
    height: 12rem;
    margin-bottom: 0.5rem;
}

.banner-card {
    background-color: var(--pxt-primary-background);
    color: var(--pxt-primary-foreground);

    min-width: 24rem;
    width: 60%;
    display: flex;
}

.banner-card > i {
    font-size: 5rem;
    line-height: 5rem;
    margin: 2rem 1rem;
    flex-shrink: 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.banner-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.banner-info i, .banner-info i:hover {
    margin-left: 0.5rem;
    color: var(--pxt-primary-foreground);
    font-size: 1.2rem;
    vertical-align: top;
    text-decoration: none;
}

/* SKILL CAROUSEL CONTAINERS */
.skill-map-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill-map-error {
    text-align: center;
    margin-top: 2rem;
    color: var(--pxt-colors-red-background);
}

/* SPECIFIC MODAL STYLES */
.report-abuse-text {
    width: 100%;
    height: 7rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.report-abuse-text::placeholder {
    font-style: italic;
}

.badge-modal-image {
    display: flex;
    justify-content: center;
}

.badge-modal-image img {
    height: 15rem;
}

/* USABILLA */
.usabilla_live_button_container {
    top: unset !important;
    bottom: 14rem !important;
}

/** mscc cookie banner. Can be removed once the banner is out of the checked in pxtweb in doccdn */
#msccBanner {
    display: none;
}

/*******************************/
/*****   HIGH CONTRAST     *****/
/*******************************/

.high-contrast .header {
    background-color: var(--high-contrast-background);
    border-bottom: 2px solid var(--high-contrast-text);
}

.high-contrast .header-dropdown i {
    height: calc(var(--header-height) - 2px);
}

.high-contrast .avatar-initials {
    background-color: var(--high-contrast-background);
}

.high-contrast a {
    color: var(--high-contrast-hyperlink);
    text-decoration: underline;
}
.high-contrast a:hover {
    outline: var(--high-contrast-focus-outline);
}


/*******************************/
/*****     TABLET VIEW     *****/
/*******************************/

@media only screen and (max-width: 991px) {
    .skill-map-container {
        flex-direction: column;
    }

    .tablet-spacer {
        flex-grow: 1;
    }
}

/*******************************/
/***** SMALL DESKTOP VIEW  *****/
/*******************************/

@media only screen and (max-height: 44rem) and (min-width: 767px) {
    :root {
        --header-height: 3rem;
        --header-padding-top: .5rem;
    }

    .header-button.with-label {
        flex-grow: 1;
    }


    .user-menu .header-button.sign-in {
        padding: .2rem .8rem;
        margin-top: .4rem;
    }
}

/*******************************/
/*****     MOBILE VIEW     *****/
/*******************************/

@media only screen and (max-width: 767px) {
    .header-org-logo .header-org-logo-large {
        display: none;
    }

    .header-org-logo .header-org-logo-small {
        display: block;
    }

    .user-menu .header-button.sign-in {
        padding-left: .6rem;
    }

    .user-menu .header-button.sign-in .header-button-label {
        display: none;
    }
}
