
:root {
    --black: #000;
    --white: #fff;

    --primary-color: #AA278F;
    --secondary-color: #E5E5E1;
    --tertiary-color: #EAC6EB;

    --hover-color: #CCC;
    --active-color: #505050;
    --inactive-color: #969696;

    --body-background-color: var(--white);
    --modal-overlay-color: rgba(0, 0, 0, 0.5);
    --card-overlay-color: rgba(0, 0, 0, 0.2);
    --inverted-text-color: var(--white);

    --body-font-family: "Share Tech Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}


body {
    margin: 0;
    font-family: var(--body-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body-background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root, #root > div {
    width: 100%;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    background-color: var(--primary-color);

    height: 4rem;
    max-height: 4rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--inverted-text-color);
}

.header-left, .header-right {
    margin: 0 1rem;
}

.header-logo {
    width: 3rem;
    height: 3rem;
}

.header-org-logo {
    height: 2rem;
}

.header-org-logo img {
    height: 100%;
}

.banner {
    background-color:  var(--tertiary-color);

    display: flex;
    align-items: center;
    height: 12rem;
    margin-bottom: 0.5rem;
}

.banner-card {
    background-color: var(--primary-color);

    min-width: 24rem;
    width: 60%;
    display: flex;
    color: var(--inverted-text-color);
}

.banner-card i {
    font-size: 5rem;
    line-height: 5rem;
    margin: 2rem 1rem;
    flex-shrink: 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.banner-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.skill-map-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}