body {
    background: #FDF3E0;
}

.arcade {
    --primary-color: #116E79;
    --secondary-color: #ffeb9a;
    --tertiary-color: #116E79;

    --hover-color: var(--secondary-color);
    --active-color: var(--tertiary-color);
    --inactive-color: #BFBFBF;

    --invert-active-color: #fff;
    --invert-hover-text-color: #116E79;

    --body-background-color: #F8FAFC;
    --card-hover-color: var(--default-card-color);
}

.arcade .banner {
    background: linear-gradient(to right, #9FEFFD, #FD99C2);
}

.arcade .modal,
.arcade .dropdown-menu {
    background-color: var(--white);
}

.arcade .carousel-arrow {
    color: var(--primary-color)
}