.rubric-display {
    border-radius: 0;
    margin: 1rem 1rem;

    label[class*="common-input-label"] {
        font-size: 1rem;
    }

    .rubric-name-input {
        display: flex;
        flex-direction: row;
        width: 100%;

        div[class*="common-input-group"] {
            margin-left: 0.5rem;
            flex-grow: 1;
        }
    }

    .criteria-table {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--pxt-content-accent);
        border-radius: 1rem;
        overflow: hidden;
        margin: 1rem 0;

        .criteria-header {
            border-bottom: 1px solid var(--pxt-content-accent);

            .cell {
                font-weight: bold;
                padding-top: 0.5rem;
                padding-bottom: 0.3rem;
            }
        }

        .criteria-instance-display {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.2rem;
            border-bottom: 1px solid var(--pxt-content-accent);
            transition: background-color 0.15s ease;

            &:hover, &:focus {
                background-color: var(--pxt-content-background);
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .cell {
            display: table-cell;
            width: 100%;
            height: 100%;
            border-right: 1px solid var(--pxt-content-accent);

            &:first-child {
                padding-left: 0.7rem;
            }

            &:last-child {
                border-right: none;
            }
        }

        .criteria-text-cell {
            text-align: left;
            padding: 0.2rem;
        }

        .criteria-action-menu-cell {
            text-align: center;
            min-width: 3rem;
            max-width: 3rem;

            .hidden-menu-button {
                opacity: 0; // Need opacity-based hiding (rather than display) for transitions
                transition: opacity 0.15s ease;
            }

            .visible-menu-button {
                opacity: 1;
                transition: opacity 0.15s ease;
            }

            .criteria-action-menu {
                width: 100%;
                height: 100%;

                button {
                    width: 100%;
                    height: 100%;
                    background-color: var(--pxt-content-background);
                    transition: background-color 0.15s ease;
                    color: var(--black);
                    padding: 0.2rem;
                    border-radius: 0;

                    &:hover {
                        background-color: var(--pxt-content-accent);
                    }
                }
            }

            i[class*="fas"] {
                font-size: 1rem;
            }
        }
    }
}
