.actions-menu {
    button[class*="menu-button"] {
        padding: 0rem 0.2rem;
        color: var(--pxt-content-foreground);
    }

    button[class*="common-menu-dropdown-item"] {
        color: var(--pxt-content-foreground);
    }

    ul {
        background-color: var(--pxt-content-background);
    }

    li {
        border-bottom: 1px solid var(--pxt-content-accent);

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: var(--pxt-content-accent);
        }
    }
}