.block-picker-modal {
    div[class*="common-modal-body"] {
        padding: 0;

        .category-container {
            border-left: 1rem solid var(--pxt-content-secondary-foreground);
            color: var(--pxt-content-secondary-foreground);

            margin-bottom: 2px;
            outline: 2px solid var(--pxt-content-accent);
    
            &:last-child {
                border-bottom: none;
            }
    
            button[class*="menu-button"] {
                width: 100%;
                padding: 0.5rem;
                text-align:start;
                font-weight: 800;
                color: inherit;
            }
        }
    }
}
