.block-picker-modal {
    div[class*="common-modal-body"] {
        overflow-x: hidden;
        padding: 0;

        .bottom-border {
            border-bottom: 2px solid var(--pxt-content-accent);
        }

        .category-container {
            // border and foreground colors are overridden by javascript with category color
            border-left: 1rem solid var(--pxt-content-secondary-foreground);
            color: var(--pxt-content-secondary-foreground);

            .category-button {
                width: 100%;
                padding: 0.5rem;
                text-align: start;
                font-weight: 800;
                font-size: 1.3em;
                border-radius: 0;
            }

            .category-block-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .block-button {
                    width: 100%;
                    align-content: start;

                    div[class*="common-lazy-image-wrapper"] {
                        justify-content: left;
                    }
                }
            }
        }
    }
}
