.catalog-modal {
    div[class*="common-modal-footer"] {
        display: flex;
        justify-content: flex-end;
    }

    .catalog-done {
        align-self: flex-end;
    }

    .catalog-item {
        padding: 0.5rem;
    }
}
