.catalog-modal {
    div[class*="common-modal-footer"] {
        display: flex;
        justify-content: flex-end;
    }

    .catalog-done {
        align-self: flex-end;
    }

    .catalog-item {
        padding: 0.5rem;
    }

    .criteria-display {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .criteria-template .param-segment {
            border-radius: 0.5rem;
            border: 1px solid var(--pxt-page-foreground);
            padding: 0.2rem 0.5rem;
        }

        .criteria-description {
            color: var(--pxt-page-foreground-light);
        }
    }
}
