.catalog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; // Above everything
    background-color: rgba(0, 0, 0, 0.5);

    color: var(--pxt-page-foreground);

    display: flex;
    justify-content: center;
    align-items: center;

    .catalog-content-container {
        max-width: 95%;
        max-height: 95%;
        overflow-y: auto; // TODO thsparks : Check this works.
        background-color: var(--pxt-page-background);
        border-radius: .285rem; // Match modal
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid var(--pxt-content-accent);
            height: 4rem;

            .title {
                font-size: 1.2rem;
                font-weight: 800;
                padding: 1rem;
            }

            .close-button {
                height: 100%;
                padding: 0 1rem;

                i {
                    font-size: 1.3rem;
                    transition: scale 0.1s ease-in-out;
                }

                &:hover i {
                    scale: 1.1;
                }
            }
        }

        .catalog-list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .catalog-item {
                width: 100%;
                padding: 1.25rem 1.5rem 1.25rem 1rem;
                border-bottom: 1px solid var(--pxt-content-accent);

                &:last-child {
                    border-bottom: none;
                }

                .catalog-item-label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .controls {
                        display: flex;
                        flex-direction: column;
                        padding: 0 1rem 0 0;
                        align-self: stretch;
                        justify-content: space-between;

                        i {
                            &.is-checked {
                                color: var(--pxt-success-accent);
                            }
                        }
                    }
                }
            }
        }
    }
}
