.criteria-instance-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    div[class*="common-input-group"] {
        border-radius: 0.5rem;
        border: solid 1px var(--pxt-page-foreground);
        padding: 0 0.5rem;
        
        &:focus::after {
            outline: none;
            border-radius: 0.5rem;
            border: solid 2px var(--pxt-headerbar-accent-smoke);
        }

        &:focus-within::after {
            outline: none;
            border-radius: 0.5rem;
            border: solid 2px var(--pxt-headerbar-accent-smoke);
        }

        input::placeholder {
            color: var(--pxt-content-accent);
        }
    }

    .snippet-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .text-snippet {
            margin-right: 0.3rem;
        }

        .string-input {
            width: 10rem;
            margin: 0.2rem 0.3rem 0.2rem 0;

            &.long {
                flex-grow: 1;
            }
        }
    }

    .criteria-description {
        color: var(--pxt-page-foreground-light);
        margin-top: 0.2rem;
    }
}
