.eval-results-container {
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    overflow: auto;
}

.specific-criteria-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
    min-height: 7rem;
    max-height: 12rem;
    border-bottom: solid 1px var(--pxt-page-foreground-lighter) ;
}

.result-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    margin: 0.2rem 0;
    width: 100%;
    height: 50%;

    .block-id-label {
        font-weight: 500;
        padding-right: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.result-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
}

.positive-text {
    color: green;
}

.negative-text {
    color: red;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: solid 1px var(--pxt-page-foreground-lighter);
    // height: 2.625rem;
}