.eval-results-container {
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.specific-criteria-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    min-height: 9rem;
    border-bottom: solid 1px var(--pxt-content-accent);
    break-inside: avoid;

    .loading-display {
        padding-top: 0;
        flex-grow: 1;
    }
}

.result-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
    width: 100%;
    height: 50%;

    .display-string {
        font-weight: 500;
        padding-right: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.result-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 5.5rem;
    margin-top: 0.25rem;

    .notes-container {
        width: 100%;
        font-weight: 600;
    }

    div[class*="common-input-wrapper"] {
        width: 100%;
        font-weight: 500;

        div[class*="common-input-group"] {
            min-height: 3rem;
            max-height: 5rem;
            border-radius: 0.5rem;

            &:focus::after {
                border-radius: 0.5rem;
            }

            &:focus-within::after {
                border-radius: 0.5rem;
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: solid 1px var(--pxt-content-accent);
    // height: 2.625rem;

    .checklist-name {
        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
            margin-top: 1px;
        }
    }

    .project-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h3 {
            margin: 0;
            margin-bottom: 0.5rem;
            padding: 0;
        }

        .project-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-right: 0.75rem;
        }

        .project-qrcode {
            min-height: 4rem;
            min-width: 3.75rem;
        }
    }
}

@media print {
    .no-print {
        display: none !important;
    }

    .specific-criteria-result {
        min-height: 5.5rem;
    }

    .result-notes {
        height: 7rem;
    }

    .result-notes.no-print {
        height: 1rem;
    }
}
