.eval-results-container {
    height: 100%;
    padding: 1rem;
    overflow: auto;
    container-type: inline-size;
}

.checklist-control-tray {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.control-button {
    margin: 0;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;

    span[class*="common-button-flex"] {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    i[class*="fas"] {
        margin: 0;
        width: auto;
        height: auto;
        font-size: unset;
    }

    &[class*="disabled"] {
        border: 1px solid var(--pxt-button-secondary-accent) !important;
    }

    @container (inline-size < 665px) {
        span[class*="common-button-label"] {
            display: none;
        }
       
    }
}

.checklist-name-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    div[class*="common-input-group"] {
        flex-grow: 1;
        height: unset;
    }

    input[class*="common-input"] {
        // Need !important to override react-common/common-input-group's font-size specificity
        font-size: 1.5rem !important;
        font-weight: 500;
        margin: 0;
        margin-top: 1px;
    }
}

.edit-checklist-name-button {
    margin: 0;   
    padding: 0; 
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-fill-available;
    padding: 0.5rem;
}

.specific-criteria-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-fill-available;
    min-height: 9rem;
    break-inside: avoid;
    gap: 0.5rem;

    .loading-display {
        padding-top: 0;
        flex-grow: 1;
    }

    .criteria-feedback {
        align-self: flex-end;
    }

    .result-error {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--pxt-error);
        border-radius: 1rem;
        background-color: var(--pxt-error-background);
        gap: 0.5rem;

        .error-info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .error-title {
                font-weight: 600;
            }

            .error-details {
                font-weight: 500;
            }
        }

        .dismiss-button {
            position: absolute;
            top: 0.6rem;
            right: 0.1rem;
            background-color: transparent;
            border-radius: 100%;
            margin: 0;
            padding: 0;

            i:hover {
                scale: 1.1;
            }
        }
    }

    &:focus-within,
    &:hover,
    &:focus {
        .result-toolbar-button {
            opacity: 1 !important;
            .disabled {
                border: 1px solid var(--pxt-button-secondary-accent) !important;
                opacity: 0.8 !important;
            }
        }
    }
}

.separator {
    border-bottom: solid 1px var(--pxt-content-accent);
    margin-top: 0.5rem;
    width: -webkit-fill-available;
}

.result-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 0.5rem;

    .display-string {
        font-weight: 500;
        padding-right: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.result-toolbar-tray {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.5rem;
}

.result-toolbar-button {
    // Need opacity-based hiding (rather than display) for transitions
    // Need !important to override common-button's opacity in disabled state
    opacity: 0 !important;

    span[class*="common-button-label"] {
        display: none;
    }
}

.result-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.result-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 5.5rem;
    gap: 0.5rem;

    .notes-container {
        width: 100%;
        font-weight: 600;
    }

    div[class*="common-input-wrapper"] {
        width: 100%;
        font-weight: 500;

        div[class*="common-input-group"] {
            min-height: 3rem;
            max-height: 5rem;
            border-radius: 0.5rem;

            &:focus::after {
                border-radius: 0.5rem;
            }

            &:focus-within::after {
                border-radius: 0.5rem;
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem 0;

    .checklist-name {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
        flex-grow: 1;

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
            margin-top: 1px;
        }
    }

    .project-details {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        h3 {
            margin: 0;
            margin-bottom: 0.5rem;
            padding: 0;
        }

        .project-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-right: 0.75rem;
        }

        .project-qrcode {
            min-height: 4rem;
            min-width: 3.75rem;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
