.header {
    background-color: var(--pxt-headerbar-background);
    color: var(--pxt-headerbar-foreground);
    display: flex;
    flex-direction: row;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: var(--above-frame-zindex);

    .left-menu,
    .right-menu {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .org {
        display: flex;
        align-items: center;
        cursor: pointer;
        .logo {
            height: 1.4rem;
            margin: 0 1rem;
        }
    }

    .brand {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            height: 1.5rem;
            border-left: 2px solid var(--pxt-headerbar-foreground);
            content: " ";
        }
        .logo {
            height: 1.1rem;
            margin: 0 1rem;
        }
    }

    .user-menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .sign-in-button {
            height: 80%;
            margin: .5rem 1rem;
            margin-right: 1rem;
            padding: .6rem;
            font-weight: 500;
            flex-direction: row-reverse;
            align-items: center;
        }

        .header-dropdown {
            height: inherit;
            cursor: pointer;
            width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                border: solid 2px white;
                border-radius: 100%;
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}
