.import-rubric-modal {
    div[class*="common-modal-body"] {
        background-color: var(--pxt-content-background);
    }

    .import-rubric {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .rubric-preview-container {
            max-height: 50vh;
            overflow-y: auto;
            border: 2px solid var(--pxt-content-foreground);
            border-radius: 0.3rem;
            background-color: var(--pxt-content-background-glass);
        }
    }
}
