

.main-panel {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    width: 100%;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-target-foreground1);
}
