.notice-label-background {
    border-color: var(--pxt-target-foreground1);
    background-color: var(--pxt-target-background1);
    border-radius: 0.3rem;

    .notice-label-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.3rem;
        border-radius: 0.3rem;
        border: 2px solid
    }

    .error-notice-label-container {
        border-color: var(--pxt-colors-red-background);
        background-color: var(--pxt-colors-red-alpha10);
        justify-content: flex-start;
    }

    .warning-notice-label-container {
        border-color: var(--pxt-colors-yellow-background);
        background-color: var(--pxt-colors-yellow-alpha10);
        justify-content: flex-start;
    }

    .info-notice-label-container {
        border-color: var(--pxt-colors-blue-background);
        background-color: var(--pxt-colors-blue-alpha10);
        justify-content: flex-start;
    }

    .neutral-notice-label-container {
        border-color: var(--pxt-neutral-foreground1);
        background-color: var(--pxt-neutral-foreground1);
        align-content: center;
        justify-content: center;
    }

    .icon {
        margin-right: 0.5rem;
    }
}