.panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--pxt-neutral-alpha20);
    position: relative;

    .projectName {
        height: 100%;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    iframe {
        flex: 1 1 0%;
    }
}
