.share-link-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.625rem;
    min-height: 3.625rem;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-target-foreground1);
    padding: 0 1rem 0 1rem;
    border-top: solid 1px var(--pxt-target-stencil1);

    div[class*="common-input-wrapper"] {
        width: 100%;

        div[class*="common-input-group"] {
            input::placeholder {
                text-align: center;
            }

            i {
                background-color: var(--pxt-neutral-alpha10);
                color: var(--pxt-target-foreground1);
                border-radius: 99px;
                width: 1.5rem;
                height: 1.5rem;
                top: 0;
                bottom: 0;
                right: 0.25rem;
                margin-top: auto;
                margin-bottom: auto;

                &::before {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: var(--pxt-neutral-alpha80);
                }
            }
        }
    }

    button[class~="common-button"] {
        border-radius: 99px;
        margin-right: -1rem;
    }
}
