.share-link-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.625rem;
    min-height: 3.625rem;
    background-color: var(--pxt-content-background);
    color: var(--pxt-content-foreground);
    padding: 0 1rem 0 1rem;
    border-top: solid 1px var(--pxt-content-accent);

    div[class*="common-input-wrapper"] {
        width: 100%;

        div[class*="common-input-group"] {
            input::placeholder {
                text-align: center;
            }
        }
    }

    button[class~="common-button"] {
        border-radius: 99px;
        margin-right: -1rem;
    }
}
