.split-pane {
    display: flex;
    height: 100%;
    width: 100%;

    .left {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: auto;
    }

    .right {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
    }
}

.split-vertical {
    flex-direction: row;

    .splitter {
        background-color: var(--pxt-content-accent);
        width: 1px;

        .splitter-inner {
            position: relative;
            background-color: transparent;
            transition: background-color 0.2s ease;
            left: -3px;
            width: 6px;
            height: 100%;
            cursor: ew-resize;

            &:hover {
                background-color: var(--pxt-content-foreground);
                transition: background-color 0.2s ease;
                transition-delay: 0.2s;
            }
        }
    }
}

.split-horizontal {
    flex-direction: column;

    .splitter {
        flex: 0 0 1px;
        background-color: var(--pxt-headerbar-background);
        height: 5px;
        cursor: ns-resize;
    }
}

.resizing-overlay {
    position: absolute;
    inset: 0;
}
