
// TODO make this scssy

.split-pane-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-vertical {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}

.right-vertical {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.splitter-vertical {
  background-color: var(--pxt-content-accent);
  width: 1px;
}

.splitter-vertical-inner {
  position: relative;
  background-color: transparent;
  transition: background-color 0.2s ease;
  left: -2.5px;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}

.splitter-vertical-inner:hover {
  background-color: var(--pxt-content-foreground);
  transition: background-color 0.2s ease;
  transition-delay: 0.2s;
}

/* Horizontal split pane */

.split-pane-horizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.left-horizontal {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}

.right-horizontal {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.splitter-horizontal {
  flex: 0 0 1px;
  background-color: var(--pxt-headerbar-background);
  height: 5px;
  cursor: ns-resize;
}

.resizing-overlay {
  position: 'absolute';
  inset: 0;
}
