.tabpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--pxt-neutral-background1);
    color: var(--pxt-neutral-foreground1);
}
