.tabpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--pxt-neutral-background1);
    color: var(--pxt-neutral-foreground1);
}

/* Styles for iPads (portrait mode) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .tabpanel {
        height: 80%;
    }
}

/* Styles for iPads (landscape mode) */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .tabpanel {
        height: 70%;
    }
}