.tabpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--pxt-page-background);
    color: var(--pxt-page-foreground);
}
