.toast-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 1rem;
    z-index: 50;
    pointer-events: none;
}

.toast {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    pointer-events: none;

    &.success {
        background-color: var(--pxt-success-background);
    }

    &.info {
        background-color: var(--pxt-info-background);
    }

    &.warning {
        background-color: var(--pxt-warning-background);
    }

    &.error {
        background-color: var(--pxt-error-background);
    }

    .toast-content {
        display: flex;
        gap: 0.5rem;
        padding: 0.75rem;
        font-size: 1.125rem;
        align-items: center;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 50%;
            width: 1.75rem;
            height: 1.75rem;

            &.success {
                background-color: var(--pxt-success-accent);
            }

            &.info {
                background-color: var(--pxt-info-accent);
            }

            &.warning {
                background-color: var(--pxt-warning-accent);
            }

            &.error {
                background-color: var(--pxt-error-accent);
            }
        }

        .text-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: left;

            .text {
                white-space: nowrap;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .detail {
                font-size: 0.875rem;
            }

            .custom-jsx {
                pointer-events: auto;
                margin-left: 1rem;
            }
        }

        .dismiss-btn {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            pointer-events: auto;

            .icon {
                cursor: pointer;

                &:hover {
                    transform: scale(1.25);
                    transition: all 0.15s ease-in-out;
                }
            }
        }

        .spinner {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

    .slider {
        height: 0.25rem;
        transition: all 0.2s linear;

        &.success {
            background-color: var(--pxt-success-accent);
        }

        &.info {
            background-color: var(--pxt-info-accent);
        }

        &.warning {
            background-color: var(--pxt-warning-accent);
        }

        &.error {
            background-color: var(--pxt-error-accent);
        }
    }
}
