

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.625rem;
    min-height: 2.625rem;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-tertiary-background);
}

@mixin toolbar-font-size {
    font-size: 1rem;
}

@mixin toolbar-button {
    margin: 0;
    padding: 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    background-color: var(--pxt-target-background1);
    color: var(--pxt-tertiary-background);
    @include toolbar-font-size;

    &:hover {
        filter: none;
        background-color: var(--pxt-neutral-alpha10);
    }

    &:active,
    &:active::after {
        filter: brightness(.80) contrast(1.3);
        background-color: var(--pxt-neutral-alpha10);
    }

    &:focus-visible,
    &:focus-visible::after {
        border: none;
        outline: solid 1px var(--pxt-tertiary-background);
    }

    i[class*="fas"] {
        margin: 0;
        width: auto;
        height: auto;
        @include toolbar-font-size;

        &::before {
            @include toolbar-font-size;
        }
    }
}

.toolbar-control-group {
    display: flex;
    min-height: 100%;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.125rem;

    button {
        @include toolbar-button;
    }

    button[class*="menu-button"] {
        @include toolbar-button;

        &[class*="expanded"] {
            background-color: var(--pxt-neutral-alpha10);
        }
    }

    button[class*="disabled"] {
        color: var(--pxt-neutral-alpha20);
        background-color: inherit;
    }

    div[class*="common-focus-trap"] {
        outline: none;
    }

    div[class*="common-menu-dropdown-pane"] {
        background-color: var(--pxt-target-background1);
        border: 1px solid var(--pxt-target-background1-hover);
        border-radius: 0.25rem;
        padding: 0.25rem 0;
        box-shadow: 0 0.5rem 0.5rem 0 #00000020;
        width: 8.5rem !important;
    }

    ul {
        background-color: inherit;

        li {
            background-color: inherit;
            padding: 0;

            button[class*="common-button"] {
                height: auto;
                padding: 0.5rem 0.5rem;
                border-radius: 0;

                &:focus-visible::after {
                    border: none;
                    outline: solid 1px var(--pxt-colors-blue-background);
                }
            }
        }

        li:first-child {
            padding-top: 0.125rem;
        }

        li:last-child {
            padding-bottom: 0.125rem;
        }
    }

    .toggle-button {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75rem;
        width: auto;
        padding: 0 0.25rem;

        span[class*="common-button-flex"] {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }
}
