/*******************************/
/*****  GLOBAL VARIABLES  ******/
/*******************************/

:root {
    --frame-loader-zindex: 30;
    --above-frame-zindex: 50;
    --modal-dimmer-zindex: 100;
    --fullscreen-modal-zindex: 90;
}

/*******************************/
/*********  RESETS  ************/
/*******************************/

* {
    // undo semantic.css defaults
    min-height: initial;
    min-width: initial;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--pxt-page-font);
    background: var(--pxt-neutral-background1);
    color: var(--pxt-neutral-foreground1);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // undo semantic.css defaults
    display: initial;
    font-size: initial;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*******************************/
/*********  GLOBALS  ***********/
/*******************************/

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    isolation: isolate;
}

.noclick {
    pointer-events: none;
    cursor: default;
}

/*******************************/
/********** SCROLLBAR  *********/
/*******************************/

// Modeled after the scrollbar in the MakeCode blocks editor

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    height: 0;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 99px;
    background-clip: padding-box;
    background-color: rgb(206, 205, 206);

    &:hover {
        // Style matching the standalone editor
        //background-color: rgb(187, 187, 187);
        //box-shadow: inset -2px -2px 0px rgb(206, 205, 206), inset 2px 2px 0px rgb(206, 205, 206);
        // Style matching the embedded editor
        border-width: 1px;
    }
}

/*******************************/
/**** PRINT MEDIA QUERIES ******/
/*******************************/

@media print {
    * {
        break-before: avoid;
    }

    .no-print {
        display: none !important;
    }
}

@media screen {
    .only-print {
        display: none !important;
    }
}

/*******************************/
/****  BREAKPOINT QUERIES  *****/
/*******************************/

// Composable breakpoints, aligned to react-common breakpoint sizes (see https://github.com/microsoft/pxt/blob/master/react-common/styles/react-common-breakpoints.less)

// Become visible at the given breakpoint
.min-xl,
.min-lg,
.min-md,
.min-2md,
.min-sm,
.min-2sm,
.min-xs,
.min-2xs {
    display: initial;
}

// Become invisible at the given breakpoint
.max-xl,
.max-lg,
.max-md,
.max-2md,
.max-sm,
.max-2sm,
.max-xs,
.max-2xs {
    display: initial;
}

$smallMobileBreakpoint: 240px;
$mobileBreakpoint: 320px;
$smallTabletBreakpoint: 480px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$smallComputerBreakpoint: 800px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

@media (min-width: $widescreenMonitorBreakpoint) {
    .max-xl {
        display: none !important;
    }
}

@media (min-width: $largeMonitorBreakpoint) {
    .max-lg {
        display: none !important;
    }
}

@media (min-width: $computerBreakpoint) {
    .max-md {
        display: none !important;
    }
}

@media (min-width: $smallComputerBreakpoint) {
    .max-2md {
        display: none !important;
    }
}

@media (min-width: $tabletBreakpoint) {
    .max-sm {
        display: none !important;
    }
}

@media (min-width: $smallTabletBreakpoint) {
    .max-2sm {
        display: none !important;
    }
}

@media (min-width: $mobileBreakpoint) {
    .max-xs {
        display: none !important;
    }
}

@media (min-width: $smallMobileBreakpoint) {
    .max-2xs {
        display: none !important;
    }
}

@media (max-width: ($widescreenMonitorBreakpoint - 0.02px)) {
    .min-xl {
        display: none !important;
    }
}

@media (max-width: ($largeMonitorBreakpoint - 0.02px)) {
    .min-lg {
        display: none !important;
    }
}

@media (max-width: ($computerBreakpoint - 0.02px)) {
    .min-md {
        display: none !important;
    }
}

@media (max-width: ($smallComputerBreakpoint - 0.02px)) {
    .min-2md {
        display: none !important;
    }
}

@media (max-width: ($tabletBreakpoint - 0.02px)) {
    .min-sm {
        display: none !important;
    }
}

@media (max-width: ($smallTabletBreakpoint - 0.02px)) {
    .min-2sm {
        display: none !important;
    }
}

@media (max-width: ($mobileBreakpoint - 0.02px)) {
    .min-xs {
        display: none !important;
    }
}

@media (max-width: ($smallMobileBreakpoint - 0.02px)) {
    .min-2xs {
        display: none !important;
    }
}

/*******************************/
/****  NOTIFICATION STYLING  ***/
/*******************************/

.app-large-toast {
    .tt-toast-text {
        font-size: 1.5rem !important;
    }
}


.notification-container {
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: right;
    top: 85%;
    left: 0;
    right: 2%;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
}

.notification-contents {
    border-radius: 0.285rem;
    overflow: hidden;
    position: fixed;
    padding: 0 1rem;
    margin-right: 1rem;
    pointer-events: none;
    border: 4px solid var(--pxt-primary-accent);
    background-color: var(--pxt-primary-foreground);
    color: var(--pxt-primary-background);
}

/*******************************/
/******  STYLE OVERRIDES  ******/
/*******************************/

button[class*="outline-button"] {
    align-self: center;
    border-radius: 0.5rem;
    width: auto;
    padding: 0.85rem 1.4rem;
}

@import "./style.overrides/Button.scss";
@import "./style.overrides/Input.scss";
@import "./style.overrides/Textarea.scss";
@import "./style.overrides/Modal.scss";