@use "sass:color";

.toast-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 50;
    pointer-events: none;
}

.toast {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    pointer-events: none;

    &.success {
        background-color: color.adjust(#16a34a, $lightness: 30%);
    }

    &.info {
        background-color: color.adjust(#2563eb, $lightness: 30%);
    }

    &.warning {
        background-color: color.adjust(#ca8a04, $lightness: 30%);
    }

    &.error {
        background-color: color.adjust(#dc2626, $lightness: 30%);
    }

    .toast-content {
        display: flex;
        gap: 0.5rem;
        padding: 0.75rem;
        font-size: 1.125rem;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 50%;
            width: 1.75rem;
            height: 1.75rem;

            &.success {
                background-color: var(--pxt-toast-accent-success);
            }

            &.info {
                background-color: var(--pxt-toast-accent-info);
            }

            &.warning {
                background-color: var(--pxt-toast-accent-warning);
            }

            &.error {
                background-color: var(--pxt-toast-accent-error);
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;

            .text {
                white-space: nowrap;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .detail {
                font-size: 0.875rem;
            }
        }

        .dismiss-btn {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            pointer-events: auto;
            align-items: center;

            .icon {
                cursor: pointer;

                &:hover {
                    transform: scale(1.25);
                    transition: all 0.15s ease-in-out;
                }
            }
        }

        .spinner {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .slider {
        height: 0.25rem;
        transition: all 0.2s linear;

        &.success {
            background-color: #16a34a;
        }

        &.info {
            background-color: #2563eb;
        }

        &.warning {
            background-color: #ca8a04;
        }

        &.error {
            background-color: #dc2626;
        }
    }
}
