.common-textarea-wrapper {
    div[class*="common-textarea-group"] {
        border-radius: 0.5rem;
        min-height: 4.25rem;
        font-weight: 500;
        &:focus::after {
            outline: none;
            border-radius: 0.5rem;
        }
        &:focus-within::after {
            outline: none;
            border-radius: 0.5rem;
        }
    }
}

@media print {
    .common-textarea-wrapper {
        div[class*="common-textarea-group"] {
            border-radius: 0;
        }
    }
}