@media not all and (pointer:coarse) {
    *:not([tabindex='-1']):focus {
        outline: auto !important;
        /* initial or inherit has no render on Chrome */
    }
    .ui.inverted:not(#makecode-resources-container) .ui.card:not([tabindex='-1']):focus,
    .ui.button.green:focus {
        outline: 2px solid white !important;
    }
}

#makecode-fixed-menu {
    background: #2D404F;
    background: rgba(45, 64, 79, 0.9);
    height: 3.5rem;
}

#makecode-fixed-menu img {
    padding: 1.5rem;
}

#makecode-targets {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#makecode-targets>.ui.cards {
    padding: 3rem;
}

#makecode-targets .ui.card {
    background: rgba(0, 0, 0, 0.2);
}

.ui.cards>.card {
    box-shadow: none;
    vertical-align: bottom;
}
/* Top target logo */

#makecode-targets .ui.targetlogo {
    padding: 1.5rem;
    height: 5rem;
}
/* Target image */

#makecode-targets>.ui.cards>.card>.image,
.ui.card>.image {
    padding: 1rem;
}

#makecode-targets>.ui.cards>.card>.image>img,
.ui.card>.image>img {
    height: 150px;
}

#makecode-targets .image {
    background: none;
}
/* Bottom action segment */

#makecode-targets .ui.labelsegment {
    background: #035089;
    padding: 1rem;
    margin: 0;
    height: 3.5rem;
    border-radius: 0;
}

#makecode-targets .ui.actionsegment {
    background: #035089;
    margin: 0;
    padding-top: 0;
    height: 4rem;
}
/* About section */

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 1.8em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.1em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.editor-image {
    max-height: 250px;
}
/* Get Inpired section */

#makecode-getinspired-container {
    background: #0072c6;
}

#makecode-getinspired-container .image,
#makecode-getinspired-container .image img {
    min-height: 200px;
}
/* Docs section */

#makecode-docs-container .image,
#makecode-docs-container .image img {
    min-height: 200px;
}
/* Resources section */

#makecode-resources-container {
    background: #bdc3c7;
}

#makecode-hardware-container {
    background: #ecf0f1;
}

#makecode-resources-container .image {
    background: white;
    padding: 2rem;
    max-height: 120px;
    min-height: 120px;
}

.targets .welcomeheader {
    font-weight: 300;
}

.masthead.segment {
    padding: 4rem;
}

.masthead h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin-top: 0.2em;
    margin-bottom: 2em;
}

.footer.segment {
    padding: 5em 0em;
}

.ui.inverted.white {
    background: none;
    color: 1px solid white;
}

@media only screen and (min-width: 1200px) {
    #makecode-targets>.ui.cards {
        padding: 5rem;
        padding-top: 2rem;
    }
    #makecode-targets>.ui.cards>.card>.image>img,
    .ui.card>.image>img {
        height: 200px;
    }
    .menubar {
        margin-left: 2rem;
    }
}
/* Fixed header */

#makecode-header {
    /* IE doesn't support sticky, so we have to fall back to fixed. We don't
     * use fixed in other browsers because otherwise the cookie banner will render
     * on top of the header (and potentially cover it entirely on small screens).
     * IE will ignore the second position value because it considers it invalid.
     */
    position: fixed;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px 0 40px;
    z-index: 100;
    color: white;
}

#makecode-header .menuButton {
    background: none;
}

#makecode-header h1 {
    font-size: 24px;
    padding-left: 17px;
}

#makecode-mobile-menu {
    min-height: 5rem;
    max-height: 5rem;
}

#makecode-header,
#makecode-mobile-menu {
    background-color: #b4009e;
    /*#5c005c; */
}

#makecode-targets {
    background: #0072c6;
    /*#0072c6; */
}

.ui.button.green {
    background-color: #117D2A;
}

.ui.card .content .meta {
    color: #035089;
}

@media only screen and (min-width: 767px) {
    :target:before {
        content: "";
        display: block;
        margin: -7rem;
        padding: 7rem;
    }
    #makecode-resources-container,
    #makecode-getinspired-container,
    #makecode-hardware-container {
        padding: 6rem;
    }
    #makecode-header h1 {
        font-size: 62px;
        padding-top: 34px;
        color: white;
        -webkit-transition: font-size 167ms cubic-bezier(.1, .9, .2, 1);
        transition: font-size 167ms cubic-bezier(.1, .9, .2, 1);
    }
    /* .fix-top flickers... */
    #makecode-header {
        -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    }
    #makecode-header h1 {
        font-size: 24px;
        padding-top: 12px;
    }
}

#makecode-mobile-menu {
    display: none;
}

@media only screen and (max-width: 766px) {
    #makecode-fixed-menu {
        display: none;
    }
    #makecode-mobile-menu {
        display: block;
    }
}
/* Header menu */

#makecode-fixed-menu {
    background: none;
    height: 3.5rem;
}
/* Accessible menu */

#accessibleMenu {
    width: 100%;
    position: absolute;
    top: -20em;
    z-index: 1001;
    padding: 0;
    margin: 0;
    left: 0;
}

#accessibleMenu .ui.item.link {
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px 10px;
    font-weight: 700;
    text-align: center;
    color: #387894;
    background: hsla(0, 0%, 100%, .9)!important;
}

#accessibleMenu .ui.item.link:focus,
#accessibleMenu .ui.item.link:hover {
    box-shadow: 3px 3px 5px #aaa;
    top: 20em;
    text-decoration: none;
}