body#root {
    font-size: 12pt;
}

#docs ul {
    padding: 0rem;
}

#docs ul li {
    list-style-type: none;
}

#docs ol {
    padding-left: 1em;
}

#docs ul li:before {
    margin-right: 1em;
    content: "\25CF";
}

#docs ul li.checked:before {
  content: "\25C9";
}

#docs ul li.unchecked:before {
  content: "\25CE";
}

#root .editor-image {
    margin: 2em auto;
    display: block;
    max-width: 80%;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
}

p code, li code {
    background-color: rgba(0,0,0,0.04);
}

p code:before, p code:after,
li code:before, li code:after {
    letter-spacing: -0.2em;
    padding: 0 !important;
    content: "\00a0";
}

code.hljs {
    padding: 0 !important;
}

.ui[class*="5:3"].embed {
    padding-bottom: 83%;
    background:transparent !important;
}

div.blocks-svg-list > svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
    page-break-inside: avoid;
    vertical-align: top;
}

code {
    white-space: pre-wrap;
}
code.lang-ghost, code.lang-config, code.lang-package
{ display: none;}

code.lang-block::before,
code.lang-blocks::before,
code.lang-blocksxml::before,
code.lang-sig::before,
code.lang-block::before,
code.lang-sim::before,
code.lang-cards::before,
code.lang-namespaces::before,
code.lang-codecard::before,
code.lang-shadow::before,
code.lang-spy::before
{
    content:"...";
    position: absolute;
    top:calc(50% - 0.5em);
    left:calc(50% - 5em);
}
code.lang-block,
code.lang-blocks,
code.lang-blocksxml,
code.lang-sig,
code.lang-block,
code.lang-sim,
code.lang-cards,
code.lang-namespaces,
code.lang-codecard,
code.lang-shadow,
code.lang-spy
{
    background-color: rgba(0,0,0,0.04);
    color:transparent;
}

/* wrap cards header */
.ui.card > .content > .header {
    word-break: break-all;
}

svg {
    max-width: 100%;
}

.blocklyText {
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.blocklyCheckbox,
.blocklyLed {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 6px #f00;
    font-size: 17pt !important;
}

.ui.card .blocklyPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1em);
    max-height: calc(100% - 1em);
}

.header .ui.mini.image {
    display: inline !important;
}

/* page layout */

.mainbody {
    margin-top: 2em;
    padding-bottom: 3em;
}

#accessibleMenu .ui.item.link {
    position: absolute;
    height: 4em;
    line-height: 4em;
    font-size: 1em;
    text-align: center;
    color: #387894;
    background: hsla(0,0%,100%,.9)!important;
}

#docs {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pusher .article {
    position: absolute;
    /* match with menu bar height */
    top: 3.5em;
    -webkit-box-flex: 1;

    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 0px;
}

.ui.vertical.menu .menu .item {
    font-size: 1em;
}

#pagemenu {
    border-radius: 0;
}

#pagemenu .ui.item .header {
    padding: 0;
}

/* Top bar menu */
.fixed.menu {
    min-height: 0;
    height: 3.5em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* first children are left & right div wrappers */
.fixed.menu div {
    display:flex;
    flex-direction: inherit;
    align-items: inherit;
}
.fixed.menu:after,
.fixed.menu .item:before {
    /* semantic loves to add pseudo elements;
    disable these ones because they interfere with flex-box */
    content:none;
}
/* items like hamburger, logo, name, search etc. */
.fixed.menu .item {
    padding-left: 1em;
    padding-right: 1em;
}
/* icon & target label */
.fixed.menu .item div ~ div {
    padding-left: 0.5em;
}
/* target icon & name */
.fixed.menu .item.label {
    padding:0;
}
.fixed.menu .item.label {
    padding:0;
}
/* hamburger */
.fixed.menu .item.icon {
    padding:0;
    width: 3.5em;
    height: 3.5em;
}
.fixed.menu .item.icon:hover {
    padding:0;
    width: 3.5em;
    height: 3.5em;
}
.fixed.menu .item.icon:hover {
    background-color: hsla(0,0%,0%,.1);
}
.fixed.menu.inverted .item.icon:hover {
    background-color: hsla(0,0%,100%,.1);
}
/* Search box */
.fixed.menu .search div.input {
    min-width: 14em;
    height: 2.5em;
}
.fixed.menu .search input {
    padding-left: 1em;
    padding-right: 1em;
}

/* breadcrumbs in inverted view */
.inverted .ui.breadcrumb a, .inverted .ui.breadcrumb .icon {
    color: white;
}

/* inverted link colour */
.ui.inverted.link.list .item, .ui.inverted.link.list a.item, .ui.inverted.link.list .item a:not(.ui) {
    color: rgba(255, 255, 255, 0.8)
}

/* navigation */
.navigation {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0;
    padding: 10px;
    max-width: 5rem;
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.navigation:hover {
    text-decoration: none;
}
.navigation.icon {
    width: 100%;
}

.navigation.navigation-next {
    right: 0;
    margin-right: 15px;
}

.navigation.navigation-prev {
    left: 0;
}

.ui.menu.tocmenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
}

.sidebar.menu .menuContainer {
    /* a bit of extra padding at the bottom to make scrolling feel nicer */
    margin-bottom: 0.5em;
}
.cc-banner {
    display: none;
}

.showmobile {
    display: none;
}

@media only screen and (max-width: 1144px) {
    .hidemobile {
        display: none !important;
    }
    .showmobile {
        display: block;
    }
}

.navigation.navigation-prev {
    left: 200px;
}
.navigation.navigation-next {
    margin-right: 0;
}
.ui.sidebar {
    /* match with menu bar height */
    top: 3.5em;
    max-height: calc(100% - 3.5rem);
}
.navigation {
    position: relative;
    position: static;
    top: auto;
    max-width: 48%;
    width: 50%;
    display: inline-block !important;
}
.navigation.navigation-prev {
    left: 0px;
}
.ui.vertical.segment.footer {
    margin-top: 4rem;
}

.article {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 7.5% 1fr 1em;
    grid-template-columns: 7.5% 1fr 1em;
    -ms-grid-template-rows: 1fr auto;
    grid-template-rows: 1fr auto;
}

.article-inner {
    -ms-grid-column: 2;
    grid-column: 2;
    padding-left: 0;
}

#docs .footer {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: span 3;
    grid-column: span 3;
}

/* Limit width of content so that it is readable */
#docs .article .article-inner > div {
    max-width: 1100px !important;
    margin-left: 0 !important;
}

.article-inner .column {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

@media only screen and (max-width: 813px) {
    .article {
        -ms-grid-columns: 0 1fr 0;
        grid-template-columns: 0 1fr 0;
    }
    #docs .article .article-inner > div {
        margin-left: 1em !important;
    }
}

/**
print only stuff
**/
.showprint {
    display:none !important;
}

@media only print {
    .pusher {
        background: transparent !important;
    }
    .pusher .article {
        top: 0;
    }
    .pusher .article-inner {
        -ms-grid-columns: 0 1fr 0;
        grid-template-columns: 0 1fr 0;
        position: relative;
        margin-top: 0;
    }
    .showprint {
        display: block !important;
    }
    .hideprint,
    .ui.embed > .icon,
    .ui.docbutton {
        display: none !important;
    }
    body.pushable {
        background: #fff !important;
    }
}
