body#root {
    font-size: 12pt;    
}

div.listing
{
    color:Black;
    border-style:none;
    margin: 0px 0px 0px 0px;
    font-size: 11pt;
    font-family: Consolas, "Andale Mono WT" , "Andale Mono" , "Lucida Console" , "Lucida Sans Typewriter" , "DejaVu Sans Mono" , "Bitstream Vera Sans Mono" , "Liberation Mono" , "Nimbus Mono L" , Monaco, "Courier New" , Courier, monospace;
    padding: 5px 5px 5px 5px;
    background: #f8f8f8;
    clear: both;
    
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
div.listing A:link 
{
    color:#000020;
    text-decoration: none;
}
div.listing A:visited 
{
    color:#000020;
    text-decoration: none;
}
div.listing A:active
{
    color:#000080;
    text-decoration: none;
}
div.listing A:hover 
{
    color:#000080;
    text-decoration: underline; 
}

#docs ul {
    padding: 0rem;
}

#docs ul li {
    list-style-type: none;
}

#docs ul li:before {
  margin: 0 1em; 
  content: "\25CF";
}

#docs ul li.checked:before {
  content: "\25C9";
}

#docs ul li.unchecked:before {
  content: "\25CE";
}

#root .editor-image {
    margin: 2em auto;
    display: block;
    max-width: 80%;    
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
}

p code, li code {
    background-color: rgba(0,0,0,0.04);    
}

p code:before, p code:after,
li code:before, li code:after {
    letter-spacing: -0.2em;
    padding: 0 !important;
    content: "\00a0";
}

code.hljs {
    padding: 0 !important;
}

.ui[class*="5:3"].embed {
    padding-bottom: 83%;
    background:transparent !important;
}

code {
        white-space: pre-wrap;
}
code.lang-config, code.lang-package { display: none;}
code.lang-block::before,
code.lang-blocks::before,
code.lang-blocksxml::before,
code.lang-sig::before,
code.lang-block::before,
code.lang-sim::before,
code.lang-cards::before,
code.lang-namespaces::before,
code.lang-codecard::before
{
    content:"...";
    position: absolute;
    top:calc(50% - 0.5em);
    left:calc(50% - 5em);
}
code.lang-block,
code.lang-blocks,
code.lang-blocksxml,
code.lang-sig,
code.lang-block,
code.lang-sim,
code.lang-cards,
code.lang-namespaces,
code.lang-codecard
{
    background-color: rgba(0,0,0,0.04);
    color:transparent;   
}

/* Limit width of text so that it's readable
 */
 
.ui.text p,
.ui.text li {
    max-width: 45em;
}

/* wrap cards header */
.ui.card > .content > .header {
    word-break: break-all;
}


svg {
    max-width: 100%;
}

.blocklyText {
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.blocklyCheckbox,
.blocklyLed {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 6px #f00;
    font-size: 17pt !important;
}

.ui.card .blocklyPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1em);
    max-height: calc(100% - 1em);
}

.header .ui.mini.image {
    display: inline !important;
}

/* page layout */

.mainbody {
    margin-top: 2em;
    padding-bottom: 3em;
}

#accessibleMenu .ui.item.link {
    position: absolute;
    height: 4em;
    line-height: 4em;
    font-size: 1em;
    text-align: center;
    color: #387894;
    background: hsla(0,0%,100%,.9)!important;
}

/* Styling the table of contents much like the Semantic UI documentation site: http://semantic-ui.com/introduction/getting-started.html */
.pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.full.height > .toc {
  position: relative;
  z-index: 1;
  width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
}

.ui.vertical.menu .menu .item {
    font-size: 1em;
}

.article {
  -webkit-box-flex: 1;

  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
  margin-bottom: 2em;
}

#pagemenu {
    border-radius: 0;    
}

#pagemenu .ui.item .header {
    padding: 0;
}

.fixed.menu > .container {
    margin-left: 0em !important;
    margin-right: 0em !important;
    width: 100% !important;
    max-width: none !important;
}

.fixed.menu > .container > .item {
    margin: 10px;
}

/* breadcrumbs in inverted view */
.inverted .ui.breadcrumb a, .inverted .ui.breadcrumb .icon {
    color: white;
}

/* inverted link colour */
.ui.inverted.link.list .item, .ui.inverted.link.list a.item, .ui.inverted.link.list .item a:not(.ui) {
    color: rgba(255, 255, 255, 0.8)
}

/* navigation */
.navigation {
    position: fixed;
    top: 50px;
    bottom: 0;
    margin: 0;
    padding: 10px;
    max-width: 5rem;
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.navigation:hover {
    text-decoration: none;
}
.navigation.icon {
    width: 100%;
}

.navigation.navigation-next {
    right: 0;
}

.navigation.navigation-prev {
    left: 300px;
}

.ui.menu.tocmenu {
    left: 0px;
    top: -5px;
    height: 100%;
    overflow: visible !important
}

.ui.menu.tocmenu .menuContainer {
    margin-bottom: 45px;
}

.cc-banner {
    display: none;
}

@media only screen and (max-width: 1272px) {
    .full.height > .toc {
        width: 200px;
    }
    .navigation.navigation-prev {
        left: 200px;
    }
}

@media only screen and (max-width: 1144px) {
    .full.height > .toc {
        display: none;
    }
    .navigation {
       position: static;
        top: auto;
        max-width: 50%;
        width: 50%;
        display: inline-block;
        float: left;
    }
    .navigation.navigation-prev {
        left: 0px;
    }
}

@media only screen and (min-width: 1145px) {
    .fixed.main.menu {
        display: none;
    }

    .mainbody {
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

/**
print only stuff
**/
.showprint {
    display:none !important;
}

@media only print {
    ui.segment, .nobreak, pre, code, blockquote {
        page-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6, img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    ul, ol, dl {
        page-break-before: avoid;
    }
        
    .showprint {
        display:block !important;
    }
    .hideprint,
    .ui.embed > .icon,
    .ui.docbutton {
        display:none !important;
    }
    /* bigger fonts */
    body {
        color: #000 !important; /* explicit colors */
        background: #fff !important;        
        font-size: 12pt;
        line-height: 1.3;
    }    
    body.pushable {
        background: #fff !important;        
    }
    .pusher {
        background: transparent !important;
    }
    /* page margins */
    @page {
        margin-top: 2cm;
        margin-left: 2.5cm;
        margin-right: 2.5cm;
        margin-bottom: 2cm;
    }
    /* lists */
    /* links */
    a:link, a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none;
    }    
    a:after {
        content:" (" attr(href) ") ";
        font-size:0.8em;
        font-weight:normal;
    }
    /* page breaks */
    ul, ol, img, h2, h3 {
        page-break-inside: avoid;
    }
    /* headers, footers */
    /* messages */
    .ui.message {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
    }
    /* images */
    .ui.image {
        max-width: 60%;
    }
}