body#root {
    font-size: 12pt;    
}

#docs ul {
    padding: 0rem;
}

#docs ul li {
    list-style-type: none;
}

#docs ul li:before {
  margin: 0 1em; 
  content: "\25CF";
}

#docs ul li.checked:before {
  content: "\25C9";
}

#docs ul li.unchecked:before {
  content: "\25CE";
}

#root .editor-image {
    margin: 2em auto;
    display: block;
    max-width: 80%;    
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
}

p code, li code {
    background-color: rgba(0,0,0,0.04);    
}

p code:before, p code:after,
li code:before, li code:after {
    letter-spacing: -0.2em;
    padding: 0 !important;
    content: "\00a0";
}

code.hljs {
    padding: 0 !important;
}

.ui[class*="5:3"].embed {
    padding-bottom: 83%;
    background:transparent !important;
}

div.blocks-svg-list > svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
    page-break-inside: avoid;
    vertical-align: top;
}

code {
        white-space: pre-wrap;
}
code.lang-config, code.lang-package 
{ display: none;}

code.lang-block::before,
code.lang-blocks::before,
code.lang-blocksxml::before,
code.lang-sig::before,
code.lang-block::before,
code.lang-sim::before,
code.lang-cards::before,
code.lang-namespaces::before,
code.lang-codecard::before,
code.lang-shadow::before,
code.lang-spy::before
{
    content:"...";
    position: absolute;
    top:calc(50% - 0.5em);
    left:calc(50% - 5em);
}
code.lang-block,
code.lang-blocks,
code.lang-blocksxml,
code.lang-sig,
code.lang-block,
code.lang-sim,
code.lang-cards,
code.lang-namespaces,
code.lang-codecard,
code.lang-shadow,
code.lang-spy
{
    background-color: rgba(0,0,0,0.04);
    color:transparent;
}

/* Limit width of text so that it's readable
 */
 
.ui.text p,
.ui.text li,
.ui.container.mainbody {
    max-width: 1100px !important;
}

/* wrap cards header */
.ui.card > .content > .header {
    word-break: break-all;
}

svg {
    max-width: 100%;
}

.blocklyText {
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.blocklyCheckbox,
.blocklyLed {
    fill: #ff3030 !important;
    text-shadow: 0px 0px 6px #f00;
    font-size: 17pt !important;
}

.ui.card .blocklyPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1em);
    max-height: calc(100% - 1em);
}

.header .ui.mini.image {
    display: inline !important;
}

/* page layout */

.mainbody {
    margin-top: 2em;
    padding-bottom: 3em;
}

#accessibleMenu .ui.item.link {
    position: absolute;
    height: 4em;
    line-height: 4em;
    font-size: 1em;
    text-align: center;
    color: #387894;
    background: hsla(0,0%,100%,.9)!important;
}

#docs {
    position: relative;
    width: 100%;
    height: 100%;
}

.pusher .article {
    position: absolute;
    top: 0;
    right: 0;
    left: 300px;
    bottom: 0;
    overflow-y: auto;
    -webkit-box-flex: 1;

    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 0px;
}

.pusher .article-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.ui.vertical.menu .menu .item {
    font-size: 1em;
}

#pagemenu {
    border-radius: 0;    
}

#pagemenu .ui.item .header {
    padding: 0;
}

.fixed.menu > .container {
    margin-left: 0em !important;
    margin-right: 0em !important;
    width: 100% !important;
    max-width: none !important;
}

.fixed.menu > .container > .item {
    margin: 10px;
}

/* breadcrumbs in inverted view */
.inverted .ui.breadcrumb a, .inverted .ui.breadcrumb .icon {
    color: white;
}

/* inverted link colour */
.ui.inverted.link.list .item, .ui.inverted.link.list a.item, .ui.inverted.link.list .item a:not(.ui) {
    color: rgba(255, 255, 255, 0.8)
}

/* navigation */
.navigation {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0;
    padding: 10px;
    max-width: 5rem;
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.navigation:hover {
    text-decoration: none;
}
.navigation.icon {
    width: 100%;
}

.navigation.navigation-next {
    right: 0;
    margin-right: 15px;
}

.navigation.navigation-prev {
    left: 0;
}

.ui.menu.tocmenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
}

.ui.menu.tocmenu .menuContainer {
    margin-bottom: 45px;
}

.cc-banner {
    display: none;
}

.showmobile {
    display: none;
}

@media only screen and (max-width: 1144px) {
    .pusher > .toc {
        width: 200px;
        position: absolute;
        top: 0;
        left: -300px;
        bottom: 0;
        z-index: 1;
        overflow-y: auto;
    }
    .navigation.navigation-prev {
        left: 200px;
    }
    .pusher > .toc {
        display: none;
    }
    .hidemobile {
        display: none !important;
    }
    .showmobile {
        display: block;
    }
    .pusher .article {
        left: 0;
    }
    .navigation.navigation-next {
        margin-right: 0;
    }
    .ui.container.mainbody {
        margin-top: 5rem;
        margin-left: 0!important;
        margin-right: 0!important;
        padding-left: 1em;
        padding-right: 1em;
    }
    .navigation {
        position: relative; /* IE doesn't support static */
        position: static;
        top: auto;
        max-width: 48%;
        width: 50%;
        display: inline-block !important;
    }
    .navigation.navigation-prev {
        left: 0px;
    }
    .ui.vertical.segment.footer {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 1145px) {
    .fixed.main.menu {
        display: none;
    }

    .mainbody {
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

/**
print only stuff
**/
.showprint {
    display:none !important;
}

@media only print {
    .pusher .article {
        left: 0;
        position: relative;
    }
    .pusher .article-inner {
        position: relative;
    }
    .pusher {
        background: transparent !important;
    }
    .showprint {
        display: block !important;
    }
    .hideprint,
    .ui.embed > .icon,
    .ui.docbutton {
        display:none !important;
    }
    body.pushable {
        background: #fff !important;        
    }
}