# GitHub Teacher Verification Instructions

To access certain curriculum resources, you must have a verified [GitHub Teacher](https://education.github.com/teachers) account. This helps ensure that curriculum solutions and answer keys are protected. The process of obtaining a GitHub Teacher account is free and includes other benefits. Learn more at https://education.github.com/teachers.

## Create a GitHub Teacher Account

### Sign up for a GitHub account

If you don’t already have one, create a GitHub Account. Go to https://github.com/signup and use your educator email account.

![GitHub signup](/static/github-teacher/github-signup.png)

## Get Verified as a Teacher

### 1. Verify your account

After creating your account, you will see a prompt to verify yourself as an Educator. Continue the verification and select “Apply for your GitHub teacher benefits”. Alternatively, you can verify your account and bypass the benifits selection at: https://education.github.com/discount_requests/teacher_application.

![Apply for teacher benefits](/static/github-teacher/teacher-benefits-signup.png)

### 2. Account approval

Fill out your school information in the form and upload proof of your school affiliation and/or academic status. Once you complete the required information, you should receive an email from GitHub within 12 days granting you educator verified status. At that point, you can go back to the curriculum resource to access it.

![Approval email for educator account](/static/github-teacher/github-educator-approved-email.png)

## Support and Frequently Asked Questions

* It won’t verify me, what can I do?

>GitHub has successfully verified the academic affiliation of more than one hundred thousand educators worldwide - we are confident we can do the same for you! If you are unable to be verified, make sure to address all of the specific reasons presented to you by the app.

* I don’t have a **.edu** email address, can I still get verified?

>If your school provides academic email then you are required to use it. If not, then capture an image of the official dated proof of your current academic affiliation and follow the app's instructions. That should be enough to get you verified.

* I was verified, but now I’m not. What happened?

>GitHub periodically requires re-verification of all of our academic users. GitHub sends notifications to users in advance of the required re-verification deadline, so check your GitHub notification settings if your status changed without your knowledge.

* I don’t have a GitHub account and don’t use GitHub for anything else. Can I get verified without creating a GitHub account?

>Sorry, no :-(. But non-programmers can benefit from having a GitHub account! Please visit https://education.github.com/teachers to learn more.

* I'm still having issues, how can I get help?

>Try posting your question to the [GitHub Education Community Forum](https://github.com/orgs/community/discussions/categories/github-education). There are many people who can help you there! If there is a technical issue, or there is incorrect school information listed, please contact [GitHub Education Support](https://support.github.com/request/education).
