# GitHub Teacher Verification Instructions

To access certain curriculum resources, you must have a verified GitHub Teacher account. This helps ensure that curriculum solutions and answer keys are protected. The process of obtaining a GitHub Teacher account is free and includes other benefits. Learn more at https://education.github.com/teachers.

## Create a GitHub Account

### 1. Sign up for a GitHub account

If you don’t already have one, creat a GitHub Account. Go to https://github.com/signup and use your educator email account.

![GitHub signup](/static/github-teacher/github-signup.png)

### 2. Select 'Teacher'

In the sign-up process, select **Teacher**.

![Teacher signup](/static/github-teacher/teacher-signup.png)

## Get Verified as a Teacher

1. After creating your account, you will see a prompt to verify yourself as an Educator. Select “Apply for your GitHub teacher benefits”. Or go here to verify your account: https://education.github.com/discount_requests/teacher_application.

![Apply for teacher benefits](/static/github-teacher/teacher-benefits-signup.png)

2. Fill out your school information in the form and upload proof of your school affiliation and/or academic status. Once you complete the required information, you should receive an email from GitHub within 12 days granting you educator verified status. At that point, you can go back to the curriculum resource to access it.

![Approval email for educator account](/static/github-teacher/github-educator-approved-email.png)

Any questions or issues, please contact GitHub Education Support at https://support.github.com/request/education