:root {
    --pxt-target-background1: #F8FAFC;
    --pxt-target-background1-light: #ffffff;
    --pxt-target-background2: #F8FAFC;
    --pxt-target-background2-light: #ffffff;
    --pxt-target-background3: #F8FAFC;
    --pxt-target-foreground1: #000000;
    --pxt-target-foreground1-hover: #333333;
    --pxt-target-foreground2: #000000;
    --pxt-target-foreground2-hover: #333333;
    --pxt-target-foreground3: #000000;
    --pxt-target-foreground3-hover: #333333;
    --pxt-target-stencil1: #e1e1e1;
    --pxt-target-stencil2: #e1e1e1;
    --pxt-target-stencil3: #e1e1e1;
    --pxt-header-background: #116E79;
    --pxt-header-background-alpha30: #116E791E;
    --pxt-header-foreground: #FFFFFF;
    --pxt-primary-background: #5D4FBA;
    --pxt-primary-background-hover: #4d3eb1;
    --pxt-primary-alpha0: #5D4FBA00;
    --pxt-primary-dark: #372E75;
    --pxt-primary-light: #a098d7;
    --pxt-primary-foreground: #FFFFFF;
    --pxt-secondary-background: #5D4FBA;
    --pxt-secondary-alpha0: #5D4FBA00;
    --pxt-secondary-dark: #372E75;
    --pxt-secondary-foreground: #F8FAFC;
    --pxt-neutral-background1: #FFFFFF;
    --pxt-neutral-background2: #F9FAFB;
    --pxt-neutral-alpha: rgba(0, 0, 0, 0.5);
    --pxt-neutral-foreground1: rgba(0,0,0,.85);
    --pxt-neutral-foreground2: rgba(0,0,0,.87);
    --pxt-neutral-stencil1: rgba(34, 74, 114, 0.15);
    --pxt-link: #3977B4;
}
