:root {
    --pxt-target-background1: #FEF3E0;
    --pxt-target-background2: #B1E1DA;
    --pxt-target-background3: #FEF3E0;
    --pxt-target-foreground1: #000000;
    --pxt-target-foreground2: #000000;
    --pxt-target-foreground3: #000000;
    --pxt-header-background: #F76820;
    --pxt-header-foreground: #FFFFFF;
    --pxt-primary-background: #F76820;
    --pxt-primary-foreground: #FFFFFF;
    --pxt-secondary-background: #028B9B;
    --pxt-secondary-foreground: #FFFFFF;
    /* --pxt-neutral-background1: ;
    --pxt-neutral-background2: ;
    --pxt-neutral-background3: ;
    --pxt-neutral-foreground1: ;
    --pxt-neutral-foreground2: ;
    --pxt-neutral-foreground3: ;
    --pxt-color-palette-green-background1: ;
    --pxt-color-palette-green-background2: ;
    --pxt-color-palette-green-foreground1: ;
    --pxt-color-palette-green-foreground2: ;
    --pxt-color-palette-green-hover: ;
    --pxt-color-palette-green-border: ;
    --pxt-color-palette-red-background1: ;
    --pxt-color-palette-red-background2: ;
    --pxt-color-palette-red-foreground1: ;
    --pxt-color-palette-red-foreground2: ;
    --pxt-color-palette-red-hover: ;
    --pxt-color-palette-red-border: ; */
}
