:root {
    --pxt-target-background1: #FEF3E0;
    --pxt-target-background2: #B1E1DA;
    --pxt-target-background3: #FEF3E0;
    --pxt-target-foreground1: #000000;
    --pxt-target-foreground2: #000000;
    --pxt-target-foreground3: #000000;
    --pxt-header-background: #F76820;
    --pxt-header-foreground: #FFFFFF;
    --pxt-target-primary-background: #F76820;
    --pxt-target-primary-foreground: #FFFFFF;
    --pxt-target-secondary-background: #028B9B;
    --pxt-target-secondary-foreground: #FFFFFF;
    /* --pxt-general-background1: ;
    --pxt-general-background2: ;
    --pxt-general-background3: ;
    --pxt-general-foreground1: ;
    --pxt-general-foreground2: ;
    --pxt-general-foreground3: ;
    --pxt-color-palette-green-background1: ;
    --pxt-color-palette-green-background2: ;
    --pxt-color-palette-green-foreground1: ;
    --pxt-color-palette-green-foreground2: ;
    --pxt-color-palette-green-hover: ;
    --pxt-color-palette-green-border: ;
    --pxt-color-palette-red-background1: ;
    --pxt-color-palette-red-background2: ;
    --pxt-color-palette-red-foreground1: ;
    --pxt-color-palette-red-foreground2: ;
    --pxt-color-palette-red-hover: ;
    --pxt-color-palette-red-border: ; */
}
