:root {
    --pxt-target-background1: #f0f0f0;
    --pxt-target-background1-light: #ffffff;
    --pxt-target-background1-dark: #dedede;
    --pxt-target-background2: #f0f0f0;
    --pxt-target-background2-light: #ffffff;
    --pxt-target-background3: #f0f0f0;
    --pxt-target-foreground1: #333333;
    --pxt-target-foreground1-hover: #555555;
    --pxt-target-foreground2: #333333;
    --pxt-target-foreground2-hover: #555555;
    --pxt-target-foreground3: #333333;
    --pxt-target-foreground3-hover: #555555;
    --pxt-target-stencil1: #e1e1e1;
    --pxt-target-stencil2: #e1e1e1;
    --pxt-target-stencil3: #e1e1e1;
    --pxt-header-background: #888888;
    --pxt-header-background-alpha30: #8888884D;
    --pxt-header-foreground: #ffffff;
    --pxt-primary-background: #aaaaaa;
    --pxt-primary-background-hover: #bbbbbb;
    --pxt-primary-alpha0: #aaaaaa00;
    --pxt-primary-alpha90: #aaaaaa5A;
    --pxt-primary-dark: #888888;
    --pxt-primary-light: #cccccc;
    --pxt-primary-foreground: #ffffff;
    --pxt-secondary-background: #aaaaaa;
    --pxt-secondary-alpha0: #aaaaaa00;
    --pxt-secondary-dark: #767676;
    --pxt-secondary-light: #9a9a9a;
    --pxt-secondary-foreground: #f0f0f0;
    --pxt-tertiary-background: #909090;
    --pxt-tertiary-alpha50: #90909032;
    --pxt-tertiary-foreground: #ffffff;
    --pxt-neutral-background1: #ffffff;
    --pxt-neutral-background2: #f9f9f9;
    --pxt-neutral-background3: #4e5758;
    --pxt-neutral-alpha05: rgba(0, 0, 0, 0.05);
    --pxt-neutral-alpha20: rgba(0, 0, 0, 0.2);
    --pxt-neutral-alpha50: rgba(0, 0, 0, 0.5);
    --pxt-neutral-foreground1: rgba(0, 0, 0, 0.85);
    --pxt-neutral-foreground2: rgba(0, 0, 0, 0.87);
    --pxt-neutral-foreground3: #000000;
    --pxt-neutral-hover1: #cccccc;
    --pxt-neutral-stencil1: rgba(136, 136, 136, 0.15);
    --pxt-neutral-stencil2: #e9eef2;
    --pxt-neutral-stencil3: #FFFFFF;
    --pxt-neutral-button-background: #e0e1e2;
    --pxt-neutral-button-foreground: #333333;
    --pxt-variant-foreground1: #9932cc;
    --pxt-variant-foreground2: #ff7f50;
    --pxt-variant-foreground3: #00ced1;
    --pxt-variant-foreground4: #663905;
    --pxt-variant-foreground5: #0000ff;
    --pxt-link: #666666;
    --pxt-link-hover: #333333;
    --pxt-colors-green-background1: #2ecc71;
    --pxt-colors-green-foreground: #FFFFFF;
    --pxt-colors-green-hover: #22be64;
    --pxt-colors-green-alpha50: #2ecc7132;
    --pxt-colors-red-background1: #a80000;
    --pxt-colors-red-foreground: #FFFFFF;
    --pxt-colors-red-hover: #8f0000;
    --pxt-colors-red-alpha50: #a8000032;
    --pxt-colors-yellow-background1: #c0a000;
    --pxt-colors-yellow-foreground: #FFFFFF;
    --pxt-colors-yellow-hover: rgb(153, 132, 0);
    --pxt-colors-yellow-alpha50: #c0a00032;

    /*
    --pxt-neutral-background3: ;
    --pxt-neutral-foreground3: ;
    --pxt-color-palette-green-background1: ;
    --pxt-color-palette-green-background2: ;
    --pxt-color-palette-green-foreground1: ;
    --pxt-color-palette-green-foreground2: ;
    --pxt-color-palette-green-hover: ;
    --pxt-color-palette-green-border: ;
    --pxt-color-palette-red-background1: ;
    --pxt-color-palette-red-background2: ;
    --pxt-color-palette-red-foreground1: ;
    --pxt-color-palette-red-foreground2: ;
    --pxt-color-palette-red-hover: ;
    --pxt-color-palette-red-border: ;
    */
}
