:root {
    --pxt-target-background1: #F8FAFC;
    --pxt-target-background2: #F8FAFC;
    --pxt-target-background3: #F8FAFC;
    --pxt-target-foreground1: #000000;
    --pxt-target-foreground2: #000000;
    --pxt-target-foreground3: #000000;
    --pxt-header-background: #116E79;
    --pxt-header-foreground: #FFFFFF;
    --pxt-primary-background: #5D4FBA;
    --pxt-primary-foreground: #F8FAFC;
    --pxt-secondary-background: #5D4FBA;
    --pxt-secondary-foreground: #F8FAFC;
    /* --pxt-general-background1: ;
    --pxt-general-background2: ;
    --pxt-general-background3: ;
    --pxt-general-foreground1: ;
    --pxt-general-foreground2: ;
    --pxt-general-foreground3: ;
    --pxt-color-palette-green-background1: ;
    --pxt-color-palette-green-background2: ;
    --pxt-color-palette-green-foreground1: ;
    --pxt-color-palette-green-foreground2: ;
    --pxt-color-palette-green-hover: ;
    --pxt-color-palette-green-border: ;
    --pxt-color-palette-red-background1: ;
    --pxt-color-palette-red-background2: ;
    --pxt-color-palette-red-foreground1: ;
    --pxt-color-palette-red-foreground2: ;
    --pxt-color-palette-red-hover: ;
    --pxt-color-palette-red-border: ; */
}
