name: Whether the tag is a semver tag

on:
  workflow_call:
    outputs:
      is_vtag:
        description: 'Whether the tag is a semver tag'
        value: ${{ jobs.filter-vtags.outputs.is_vtag }}

jobs:
  filter-vtags:
    runs-on: ubuntu-latest
    outputs:
      is_vtag: ${{ steps.check-tag.outputs.is_vtag }}
      tag: ${{ steps.check-tag.outputs.tag }}
    steps:
      - name: Inputs
        run: |
          echo "GITHUB_REF_TYPE=${GITHUB_REF_TYPE}"
          echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"
      - name: Check tag pattern
        id: check-tag
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" && "${GITHUB_REF_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "is_vtag=true" >> "$GITHUB_OUTPUT"
            echo "tag=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"
          else
            echo "is_vtag=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Outputs
        run: echo "Step output is_vtag = ${{ steps.check-tag.outputs.is_vtag }}" && echo "Step output tag = ${{ steps.check-tag.outputs.tag }}"
