name: pxt-buildpush

on:
  push:
    branches:
      - '**' # Run workflow when any branch is updated
    tags:
      - '*'  # Run workflow when any new tag is pushed
  pull_request:
    branches:
      - '**' # Run workflow for pull requests targeting any branch

permissions:
  contents: write
  id-token: write  # Required for OIDC

jobs:
  filter-vtags:
    uses: ./.github/workflows/is-vtag.yml

  tag-bump-commit:
    uses: ./.github/workflows/tag-bump-commit.yml
    needs: filter-vtags
    if: fromJSON(needs.filter-vtags.outputs.is_vtag || 'false') == false

  buildpush:
    name: buildpush
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && fromJSON(needs.tag-bump-commit.outputs.did_tag || 'false') == false
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Use Node.js
        uses: actions/setup-node@main
        with:
          node-version: 18.x

      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install

      - name: npm run test
        run: |
          npm run test
        env:
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true

  buildvtag:
    # This job is a duplicate of pxt-buildvtag.yml's workflow
    name: buildvtag
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && fromJSON(needs.tag-bump-commit.outputs.did_tag || 'false') == true
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Use Node.js
        uses: actions/setup-node@main
        with:
          node-version: 18.x

      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install

      - name: npm run test:publish
        run: |
          npm run test:publish
        env:
          CROWDIN_KEY: ${{ secrets.CROWDIN_KEY }}
          PXT_ACCESS_TOKEN: ${{ secrets.PXT_ACCESS_TOKEN }}
          NPM_PUBLISH: true
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true
