name: pxt-buildpush

permissions:
  id-token: write  # Required for OIDC

on:
  push:
    # main/master has its own build that includes the crowdin key
    branches-ignore:
      - 'main'
      - 'master'
  create:

jobs:
  build:
    name: buildpush

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
      - name: Set Node.js version
        uses: actions/setup-node@main
        with:
          node-version: 20.x

      - name: Update npm
        run: npm install -g npm@latest

      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install

      - name: npm test
        run: |
          npm test

        env:
          CROWDIN_KEY: ${{ secrets.CROWDIN_KEY }}
          PXT_ACCESS_TOKEN: ${{ secrets.PXT_ACCESS_TOKEN }}
          NPM_PUBLISH: true
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true
