name: pxt-buildpush

on:
  push:
    branches:
      - '**' # Run workflow when any branch is updated
    tags:
      - '*'  # Run workflow when any new tag is pushed

permissions:
  contents: write

jobs:
  tag-bump-commit:
    uses: ./.github/workflows/tag-bump-commit.yml

  buildpush:
    name: buildpush
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && needs.tag-bump-commit.outputs.did_tag == 'false'
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: '16.x'

      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install

      - name: npm test
        run: |
          npm test
        env:
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true

  buildvtag:
    # This job is a duplicate of pxt-buildvtag.yml's workflow
    name: buildvtag
    runs-on: ubuntu-latest
    needs: tag-bump-commit
    if: always() && needs.tag-bump-commit.outputs.did_tag == 'true'
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: '16.x'
      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install
      - name: npm test (and possibly publish to npm registry)
        run: |
          npm test
        env:
          CROWDIN_KEY: ${{ secrets.CROWDIN_KEY }}
          PXT_ACCESS_TOKEN: ${{ secrets.PXT_ACCESS_TOKEN }}
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true
