name: pxt-buildvtag

on:
  push:
    tags:
      - 'v*' # Run workflow when any new semver-ish tag is pushed

jobs:
  buildvtag:
    name: buildvtag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: '16.x'
      - name: npm install
        run: |
          sudo apt-get install xvfb
          sudo npm install -g pxt
          npm install
      - name: npm test (and possibly publish to npm registry)
        run: |
          npm test
        env:
          CROWDIN_KEY: ${{ secrets.CROWDIN_KEY }}
          PXT_ACCESS_TOKEN: ${{ secrets.PXT_ACCESS_TOKEN }}
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          PXT_ENV: production
          CHROME_BIN: chromium-browser
          DISPLAY: :99.0
          CI: true
